<link rel="stylesheet" type="text/css" href="/assets/css/geral.css"> <!-- Chamando CSS GERAL -->
<link rel="stylesheet" type="text/css" href="/assets/css/cards.css"> <!-- Chamando CSS CARDS -->

<div class="posts-container">
	{{ range .Pages.ByDate.Reverse }}
		<div class="post-container">
			<div class="categories-and-turn-container">
				<a onclick="turnpage({{ .Params.Weight }});">
					<div class="turn-page">
						<i class="fa-solid fa-rotate"></i>
					</div>
				</a>
				<div class="categories-historietas">
					{{- range $categories := .Params.bs -}}
					<a onclick="window.location.href='/bs/{{ $categories }}'" class="category-container">
						<span class="category {{ $categories }}">{{- $categories }}</span>
					</a>
					{{- end -}}
				</div>
			</div>
			<div class="post-card-historietas" id="{{ .Params.Weight }}" onclick="window.location.href='{{ .Permalink | safeURL }}';">
				<div class="capa">
					<img src="{{ .Params.Imagethumb }}" alt="{{ .Params.Altimagethumb }}">
				</div>
				<div class="contracapa" style="background-color: {{ .Params.Backgroundhistcolor | safeCSS }}; color: {{ .Params.Chamadacolor | safeCSS}}">
					<div class="contracapa-to-scale">
						<div class="contracapa-title" style="color: {{ .Params.Titlecolor | safeCSS }};">{{ .Params.Title }}</div>
						<p class="contracapa-chamada" style="color: {{ .Params.Chamadacolor | safeCSS }};">{{ .Params.Chamada }}</p>
						<img src="{{ .Params.Elementchamada }}" alt="{{ .Params.Altelementchamada }}">
					</div>
				</div>
			</div>
			<div class="post-card-info-historietas">
				<ul class="post-card-info-list-historietas">
					<li><span class="fa-solid fa-clock"></span>{{ .Params.Tempoleitura }}</li>
					<li class="comments-container"><span class="fa-solid fa-comments"></span>12<!-- Trocar para a variável do cusdis (ou do outro comentário que eu achei) --></li> 
					<li><span class="fa-solid fa-tags" aria-hidden="true"></span>
						{{ range $k, $v := .GetTerms "tags" }}
							{{- if $k -}}| {{ end }}
							<a class="tags-container" onclick="window.location.href='/tags/{{ .LinkTitle }}';event.stopPropagation()">{{ .LinkTitle }}</a>
						{{ end }}
					</li>
				</ul>
			</div>
		</div>
    {{ end }}
</div>