{{ partial "htmlhead" . }}

<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    
    <div id="wrapper">
        {{ partial "header" . }}
        {{ partial "nav" . }}
        <div id="blackout2"></div>
        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
        
        <div id="main">
            <div id="conteudo">

                <div id="snackbarFiltro"> 
                    <a id="abrir" class='goToClass' onclick="openBar()">Seção &#10095;</a>
                    <a id="fechar" class='goToClass' onclick="closeBar()">Seção &#10094;</a>
                    <a id="goToIlustracoes" class='goToClass' onclick="goToPosition(id)">Ilustrações</a>
                    <a id="goToCapas" class='goToClass' onclick="goToPosition(id)">Capas de Livros</a>
                </div>
                
                <div id="projetos-list-ilustracoes">
                    <h1>Ilustrações</h1>
                        <div id="projetos-organizer">
                            {{ range where .Pages.ByDate "Params.categoriaprojeto" "Ilustrações" }}
                                <div class="projeto-container">
                                    <div id="{{ .Params.Titleprojeto }}" 
                                         class="img-crop" 
                                         onclick="abrirproj(event,'{{ .Params.Titleprojeto }}')"
                                         itens="{{ jsonify .Params.Itens }}">
                                        <img src="{{ .Params.Thumbprojeto }}">
                                    </div>           
                                </div> 
                            {{ end }}
                        </div>
                </div>

                <div id="projetos-list-capas">
                    <h1>Capas de Livros</h1>
                    <div id="projetos-organizer">
                        {{ range where .Pages.ByDate "Params.categoriaprojeto" "Capas de Livros" }}
                            <div class="projeto-container">
                                <div id="{{ .Params.Titleprojeto }}" 
                                     class="img-crop" 
                                     onclick="abrirproj(event,'{{ .Params.Titleprojeto }}')"
                                     itens="{{ jsonify .Params.Itens }}">
                                    <img src="{{ .Params.Thumbprojeto }}">
                                </div>
                                        
                            </div> 
                        {{ end }}
                    </div>
                </div>

                <div id="blackout"></div>
                <div id="closeProj" onclick="closeSnackbar()">x</div>
                <div id="Snackbar">               
                </div>  
            </div>
        </div>
        {{- partial "copyright" . }}  
    </div>
    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}
    
</body>

<style>
    a{
        border: none;
    }
    
    #blackout{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.534);
        display: none;
        z-index: 3;
        pointer-events: none;
    }

    #blackout2{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.534);
        display: none;
        z-index: 2;
        pointer-events: none;
    }

/* ORGANIZA OS TIPOS */
   #projetos-list-ilustracoes{
        text-align: center;
   }

   #projetos-list-capas{
        text-align: center;
        margin-top: 40px;
    }

    /* ORGANIZA O FILTRO DOS PROJETOS */
    #snackbarFiltro{
        background-color: rgba(255, 255, 255, 0.875);
        box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
        color: #212931;
        position: fixed;
        bottom: 0.75rem;
        left: 0.75rem;
        border: 0;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0.375rem 1.25rem;
        text-transform: uppercase;
        z-index: 5;
        width: 103px;
        height: 42.344px;
        overflow: hidden;
        display: block;
    }

    #fechar{
        display: none;
    }

    #abrir{
        display: block;
    }
    
    .goToClass:hover{
        cursor: pointer;
    }

    .goToClass{
        margin-right: 10px;
    }

    /* ORGANIZA OS PROJETOS DENTRO DOS TIPOS */
   #projetos-organizer{
        width: 100%;
        justify-content: center;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
   }

   .projeto-container{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
   }

   .img-crop{
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
   }

   .img-crop img{
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        filter: blur(0);
        -webkit-filter: blur(0);
        transition: transform .2s;
    }

    .img-crop img:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .2s;
    }

    .projeto-nome{
        text-align: center;
        margin-bottom: 0;
    }

/* SNACKBAR PROJETO OPEN */
    #Snackbar {
        display: none;
        padding: 12px;
        border-radius: 2px;
        position: fixed;
        top: 30px;
        bottom: 30px;
        background-color: rgba(255, 255, 255, 0.875);
        transform: translate(-50%,0);
        left: 50%;
        z-index: 8;
        overflow: auto;
        width: 90%;
    }

    #closeProj:hover{
        cursor: pointer;
        transform: scale(0.95);
    }

    #closeProj{
        position: fixed;
        bottom: 890px;
        right: 92%;
        padding-top: 8px;
        font-size: 15px;
        font-weight: 600;
        line-height: 0;
        color: #ffffff;
        background-color: #db3131;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        text-align: center;
        display: none;
        z-index: 10;
    }

/* DEFINICOES PARA OS TAMANHOS EM DESKTOP */
   
    @media screen and (max-width: 1280px) and (min-width: 1052px){
        .portfolio-container{
            max-width: 300px;
        }
    }
               
/* DEFINICOES PARA OS TAMANHOS DE DEVICE MOBILE */
    /* Definicoes para celular */
    @media only screen and (hover:none) and (pointer:coarse) and (max-width:450px) and (min-width:321px){
        .portfolio-container{
            margin-bottom: 10px;
        }
    }
</style>

<script type="text/javascript">
    let closeIcon = document.getElementById("closeProj")
    let snackbar = document.getElementById("Snackbar")

    let abrirproj = function (e, id){
        closeIcon.style.display = 'block'

        snackbar.innerHTML = ''
        e.stopPropagation()
        snackbar.style.display = "block"
        let itens = JSON.parse(document.getElementById(id).getAttribute('itens'))
        
        for (let item of itens){    
            if (item.type == 'image'){
                snackbar.innerHTML += '<img src="' + item.src + '"/>'
            } else {
                snackbar.innerHTML += '<iframe  src="' + item.src + '" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" frameorder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" width="100%" style="margin: 0 0 0 0" frameBorder="0" scrolling="no" style="border: 0px" allowfullscreen> </iframe>'
            } 
        }

        let dark = document.getElementById('blackout')
        let dark2 = document.getElementById('blackout2')
        dark.style.display= "block"
        dark2.style.display= "block"

        window.addEventListener('click', function(b){
            if (document.getElementById('Snackbar').contains(b.target)){
            } else{
                console.log("cliquei fora da snack, fecho ela")
                snackbar.style.display = "none"  
                dark.style.display= "none"
                dark2.style.display= "none"  
                closeIcon.style.display = 'none'
            }
        }, options = {"once": true})
    }

    function closeSnackbar(){
        snackbar.style.display = "none"
        snackbar.innerHTML = ''
        dark.style.display= "none"
        dark2.style.display= "none" 
        closeIcon.style.display = 'none' 
    }

    let goToPosition = function (id){
        let capasYPosition = document.getElementById("projetos-list-capas").offsetTop
        let ilustracoesYPosition = document.getElementById("projetos-list-ilustracoes").offsetTop

        if (id == "goToCapas"){
            window.scrollTo({left: 0, top: capasYPosition,behavior:"smooth"})
        }

        if (id == "goToIlustracoes"){
            window.scrollTo({left: 0, top: ilustracoesYPosition,behavior:"smooth"})
        }
    }

    let snackFiltro = document.getElementById('snackbarFiltro')
    let abrir = document.getElementById('abrir')
    let fechar = document.getElementById('fechar')
    let openBar = function(){
        snackFiltro.style.width = '332px'
        snackFiltro.style.display = 'inline-flex'
        abrir.style.display = 'none'
        fechar.style.display = 'block'
    }

    let closeBar = function(){
        snackFiltro.style.width = '103px'
        snackFiltro.style.display = 'block'
        abrir.style.display = 'block'
        fechar.style.display = 'none'
    }
</script>