{{ partial "htmlhead" . }}
<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    <div id="wrapper">
        {{ partial "header" . }}
        {{ partial "nav" . }}
        
        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
        
        <div id="main">
            <div id="conteudo">
                
                <div id="projetos-list-ilustracoes">
                    <h1>Ilustrações</h1>
                        <div class="projetos-organizer">
                            {{ range where .Pages.ByDate "Params.categoriaprojeto" "Ilustrações" }}
                                <div class="projeto-container">
                                    <div class="img-crop">
                                        <img src="{{ .Params.Thumbprojeto }}" onclick="abrirproj()">
                                    </div>
                                            
                                </div> 
                            {{ end }}
                        </div>
                </div>

                <div id="projetos-list-capas">
                    <h1>Capas de Livros</h1>
                        <div class="projetos-organizer">
                            {{ range where .Pages.ByDate "Params.categoriaprojeto" "Ilustrações" }}
                                <div class="projeto-container">
                                    <div class="img-crop">
                                        <img src="{{ .Params.Thumbprojeto }}" onclick="abrirproj()">
                                    </div>                             
                                </div> 
                            {{ end }}
                        </div>
                </div>

                <div id="Snackbar">
                    {{ range .Pages.ByDate }}
                        <img src="{{ .Params.src }}" />                
                    {{ end }}
                    <a id="close" onclick="closeSnackbar()">x</a>
                </div> 

            </div>
        </div>
        {{- partial "copyright" . }}
    </div>

    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}
</body>

<style>
    a{
        border: none;
    }
/* ORGANIZA OS TIPOS */
   #projetos-list-ilustracoes{
        text-align: center;
   }

   #projetos-list-capas{
        text-align: center;
        margin-top: 40px;
    }

    /* ORGANIZA OS PROJETOS DENTRO DOS TIPOS */
   .projetos-organizer{
        width: 100%;
        justify-content: center;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
   }

   .projeto-container{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
   }

   .img-crop{
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
   }

   .img-crop img{
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        filter: blur(0);
        -webkit-filter: blur(0);
        transition: transform .2s;
    }

    .img-crop img:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .2s;
    }

    .projeto-nome{
        text-align: center;
        margin-bottom: 0;
    }

/* SNACKBAR PROJETO OPEN */
    #Snackbar {
        display: none;
        text-align: left;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        position: fixed;
        bottom: 30px;
        background-color: rgba(255, 255, 255, 0.875);
        box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
        color: #212931;
        transform: translate(-50%,0);
        left: 50%;
        z-index: 7;
    }

    #close:hover{
        cursor: pointer;
    }

/* DEFINICOES PARA OS TAMANHOS EM DESKTOP */
   
    @media screen and (max-width: 1280px) and (min-width: 1052px){
        .portfolio-container{
            max-width: 300px;
        }
    }

    
               
/* DEFINICOES PARA OS TAMANHOS DE DEVICE MOBILE */
    /* Definicoes para celular */
    @media only screen and (hover:none) and (pointer:coarse) and (max-width:450px) and (min-width:321px){
        .portfolio-container{
            margin-bottom: 10px;
        }
    }
</style>

<script type="text/javascript">
    let snackbar = document.getElementById("Snackbar")

    let abrirproj = function (){
        snackbar.style.display = "block";
        let thumbclicada = document.getElementsByClassName('img-crop')
        console.log (thumbclicada)
    }

    function closeSnackbar(){
        snackbar.style.display = "none";
    }
    /* if snackbaropen and click outside, então fecha snackbar */
</script>