{{- partial "htmlhead" . -}}

{{ $postsPerPage := 4}}
{{ $posts := .Pages.ByDate.Reverse }}
{{ $lastPost := first 1 $posts }}
{{ $postsPaging := .Paginate (last (sub (len .Pages) 1) $posts) $postsPerPage }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    <div id="wrapper" class="fade-in">
        {{- partial "header" . -}}
        {{- partial "nav" . -}}

        <!-- Main -->
        <div id="main">
            {{ if eq .Paginator.PageNumber 1 }}
                {{- partial "posts/featured.html" (dict "lastpost" $lastPost "siteData" (index .Site.Data .Site.Language.Lang)) }}
            {{ end}}

            {{ if gt (len $posts) 1 }}
                {{ partial "posts/list.html" (dict "posts" $postsPaging "siteData" (index .Site.Data .Site.Language.Lang)) }}
            {{ end }}
            
            {{- $paginator := .Paginator }}
            {{- $outer := . }}
            {{- partial "posts/pagination.html" (dict "paginator" $paginator "outer" $outer)}}
        </div>

        {{- partial "copyright" . }}

        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
        
    </div>

    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}
</body>

{{- partial "temporario" . }}

<style>

    #main > .post header.major h2 {
        font-size: 2.7rem;
        line-height: 1.1;
        word-spacing: normal;
        word-break: break-word;
        text-rendering: optimizeLegibility;
        margin-bottom: 0.5rem;
    }

    #main > .post header.major h3 {
        font-size: 1.25rem
    }

    .image.main{
        height: 46vh;
        position: relative;
        display: block;
        overflow: hidden;
    }

    .image.main img{
        margin: auto;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: relative;
        height: 100%;
    }

    #main > .posts{
        padding: 0rem 2rem 1rem 2rem;
    }

    @media screen and (max-width: 980px){
        #main > .post .featured{
            padding: 4rem 1rem 1rem 1rem;
        }
        .image.main{
            height: 40vh;
        }
    }

    @media screen and (max-width: 767px){
        #main > .post header.major h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .histTitleList {
        hyphens: none;
    }
</style>

