{{- partial "htmlhead" . -}}
{{ $data := index .Site.Data .Site.Language.Lang }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        {{- partial "header" . -}}
        {{- partial "nav" . }}

        <div id="main">
            <table>
                <thead>
                    <tr>
                      <th>Fonte: www.tdvadilho.com</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div id="historietas_container">
                                
                                <h2> {{ .Title }} </h2>
                                <h4> {{ .Params.Historietanumero }} |
                                    <span id="comentarioshistorieta" onclick="goToComentarios()">
                                        <span  data-cusdis-count-page-id="{{ .Params.UniqueID }}">0 </span>
                                    comentários </span> |
                                    <img class="icon_classifIndicativaMiddleAlign" src= "{{ .Params.ClasIndicativa }}" > {{ .Params.DescripIndicativa }}
                                </h4>

                                <!-- {{- partial "darkandlight" . }} -->

                                {{ .Content }}
                                
                                <p class="referenciar" style="margin-top:10px">Autor e ilustrador: Thiago David Vadilho (TD Vadilho)</p>
                                <p class="referenciar">*Jamais venda ou monetize este conteúdo sem a autorização expressa do autor.</p>
                                <p class="referenciar">Caso necessário, entre em <a  href='{{ "#contatar" | relLangURL }}' class="linkto_contato"><u>contato</u></a>.</p>

                                <div id="compartilharHistorietas-titulo">
                                    <h4>Compartilhe essa história</h4>
                                </div>
                                <div id="compartilharHistorietas">
                                    <span onclick="copiarUrlSharing()"><i class="fa fa-link icon"></i></span>
                                    <span onclick="fbSharing()"><i class="fa fa-facebook-f icon"></i></span>
                                    <span onclick="ttSharing()"><i class="fa fa-twitter icon"></i></span>
                                    <span onclick="instagramSharing()"><i class="fa fa-instagram icon"></i></span>
                                    <span onclick="wppSharing()"><i class="fa fa-whatsapp icon"></i></span>       
                                    <span onclick="redditSharing()"><i class="fa fa-reddit-alien icon"></i></span>
                                    <span onclick="linkedinSharing()"><i class="fa fa-linkedin icon"></i></span>
                                    <span onclick="pinterestSharing()"><i class="fa fa-pinterest icon"></i></span>
                                </div>

                                {{ if isset .Params "processocriativo" }}
                                    <div id="container_processo"> 
                                        <h2>Processo criativo</h2>

                                        <div id="mySlidesProcessoID">
                                            <a id="prevProcesso" onclick="plusSlides(-1)"><span class='fa fa-chevron-circle-left fa' aria-hidden='true'></span></a>
                                                <div id="container_slidesAndMateriais">
                                                    {{ if isset .Params "listamateriais" }}
                                                        <span class="pinMateriaisUsados" onclick="expandirmateriais(event)">
                                                        <span class="txt_pinMateriaisUsados">MATERIAIS</span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                                                        
                                                        <div class="listaMateriais">
                                                            <span class="txt_pinMateriaisUsadosAberto">MATERIAIS (LINKS AFILIADOS) <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                                                <span class='toCloseMateriais' onclick="fecharmateriais()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                                            </span>
                                                            {{ range $item := .Params.listaMateriais }}
                                                                <span class="itemDaLista">
                                                                    <a href="{{ $item.link }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {{ $item.nome }}</a>
                                                                </span>
                                                            {{ end }}
                                                            <span class="txt_pinMateriaisUsadosAbertoAviso">
                                                            <span class="divisoriaBonitaMateriais"></span>
                                                            Comprar pelos links gera renda para o site <b>sem</b> alterar o custo da sua compra</span>
                                                        </div>
                                                    {{ end }}
                                                
                                                    {{ range $processoCriativo := .Params.processoCriativo }}
                                                        <div class="mySlides fade">
                                                            {{ if strings.Contains $processoCriativo "youtube" }}
                                                                <iframe
                                                                    src={{ $processoCriativo }}
                                                                    title="YouTube video player" frameborder="0" scrolling="no"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                                    allowfullscreen>
                                                                </iframe>
                                                            {{ else }}
                                                                <img src="{{ $processoCriativo }}" alt="imagens do processo criativo da historieta">
                                                            {{ end }}
                                                        </div>
                                                    {{ end }}
                                                </div>
                                            <a id="nextProcesso" onclick="plusSlides(1)"><span class='fa fa-chevron-circle-right fa' aria-hidden='true'></span></a>
                                        </div>                               

                                        <div id="posicaoDotsProcesso">
                                            {{ range $i := (seq (len .Params.processoCriativo)) }}
                                                <span class="dot" onclick='currentSlide("{{ $i }}")'></span>
                                            {{ end }}
                                        </div>
                                    </div>
                                {{ end }}

                            <div id="historieta-encerramento">
                                <h2>Quer ajudar o projeto?</h2>
                                <div id="explicacoes">
                                    <p id="introHistorietas">O projeto historietas é produzido e disponibilizado gratuitamente graças ao apoio
                                        dos leitores. Cada ajuda me permite continuar esse trabalho, e cada ajuda é extremamente apreciada! Muito obrigado❤️
                                    </p>
                                    
                                    <div id="container_contribuicoesHistorietas">
                                        <div class="contribuicoesHistorietas">
                                            <h4>Diretamente</h4>
                                            <p>Doe por PIX ou cheque os produtos do meu trabalho. Toda compra e doação fazem uma enorme diferença!</p>

                                            <div id="container_contribuicaopix">
                                                    <a href="https://nubank.com.br/pagar/11jeh7/8ABRsdHuzw" class="button_contribuicaopix-container" target="_blank">
                                                        <div class="button_contribuicaopix">
                                                            <p class="textbutton_contribuicaopix"><img src="/images/icon_pix.svg" class="icon_pix" alt="logo do pix"> DOAR</p>
                                                        </div>
                                                    </a> 
                                            

                                                <a href="https://amzn.to/49s0IwN" class="button_meuslivros-container" target="_blank">
                                                    <div class="button_meuslivros">
                                                        <p class="textbutton_meuslivros"><i class="fa fa-book" aria-hidden="true"></i> LIVROS</p>
                                                    </div>
                                                </a>

                                                <a href="https://umapenca.com/tdvadilho/" class="button_lojaartes-container" target="_blank">
                                                    <div class="button_lojaartes">
                                                        <p class="textbutton_lojaartes"><i class="fa fa-paint-brush" aria-hidden="true"></i> ARTES</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="contribuicoesHistorietas">
                                            <h4>Indiretamente</h4>
                                            <p>Comprar qualquer produto pelos links afiliados geram renda ao projeto sem qualquer custo adicional para você</p>
                                            <div id="organizer_contribuicoesIndiretasHistorietas">
                                                <a href="https://www.amazon.com.br?&linkCode=ll2&tag=tdvadilho05-20&linkId=323ea7ef1891ccb812a77da02ad83348&language=pt_BR&ref_=as_li_ss_tl" class="clicavel_linkafiliado" target="_blank">
                                                    <div id="container_linkafiliado">
                                                        <div class="linkafiliado"><i class="fa fa-bookmark" aria-hidden="true"></i> AMAZON </div>
                                                    </div>
                                                </a>
                                                <a href="https://www.magazinevoce.com.br/magazinetdvadilho/" class="clicavel_linkafiliado"  target="_blank">
                                                    <div id="container_linkafiliado">
                                                        <div class="linkafiliado lu"><i class="fa fa-bookmark" aria-hidden="true"></i> MAGAZINE LUIZA </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="contribuicoesHistorietas">
                                            <h4>Sem custo</h4>
                                            <p>Me seguindo nas redes sociais, você estará me ajudando a levar as historietas para um público maior</p>

                                            {{ with $data.social }}
                                                <ul class="icons alt">
                                                    {{ with .instagram}}
                                                        <li><a href="{{ . }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                                    {{ end }}

                                                    {{ with .facebook}}
                                                        <li><a href="{{ . }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                                                    {{ end }}

                                                    {{ with .twitter}}
                                                        <li><a href="{{ . }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                                                    {{ end }}

                                                    {{ with .youtube }}
                                                        <li><a href="{{ . }}" class="icon alt fa-youtube-play" target="_blank"><span class="label">Youtube</span></a></li>
                                                    {{ end }}
                                                </ul>
                                            {{ end }}
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- PARTE DOS COMENTÁRIOS -->    
        <div id="comentariosblog-container">
            <h2>Comentários</h2>
            <h4>Vamos conversar sobre o post?</h4>
    
            <p class="avisos-pre-comentarios">• A aprovação dos comentários tem o intuito <b>apenas</b> de barrar mensagens desrespeitosas ou spams;</p>
            <p class="avisos-pre-comentarios">• Aqui, nenhum dos seus dados são salvos, e, por isso, ainda não temos todas as funcionalidades típicas 
                de uma seção de comentários. Com o tempo chegaremos lá 😊
            </p>
    
            <div id="cusdis_thread"
                data-host="https://cusdis.com"
                data-app-id="b935f701-f887-42b4-96cf-1852bf2005b2"
                data-page-id="{{ .Params.UniqueID }}"
                data-page-url="{{ .Permalink }}"
                data-page-title="{{ .Title }}"
                >
            </div>
    
            <script>
                window.CUSDIS_LOCALE = {
                    powered_by: 'Powered by Cusdis',
                    post_comment: 'Postar comentário',
                    loading: 'Carregando',
                
                    // comment
                    email: 'Email (opcional)',
                    nickname: 'Nome',
                    reply_placeholder: 'Comentar...',
                    reply_btn: 'Responder',
                    sending: 'enviando...',
                
                    // reply
                    mod_badge: 'MOD',
                    content_is_required: 'Conteúdo é requerido',
                    nickname_is_required: 'Apelido é requerido',
                
                    comment_has_been_sent:
                    'Seu comentário foi enviado. Por favor aguarde pela aprovação.',
                }
            </script>
            <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
        </div>

        {{- partial "copyright" . }}
        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>

        <div id="urlCopiarNotification">
        </div>

    </div>

    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}

</body>

<style>
/* GERAIS */
    #main{
        border: none;
        padding: 4rem 5rem 3rem 5rem;
    }

    a{
        border: none;
    }

    a:hover{
        cursor: pointer;
    }

    h4{
        margin-bottom: 30px;
    }

    button{
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 10px;
    }

/* HISTORIETA */
    /* texto */
    table td{
        padding: 0;
    }

    table thead{
        border: none;
    }

    thead{
        display: none;
    }

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0);C
    }

    table tbody tr {
        border: none;
    }
    
    .text_divisorCapitulos{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: inherit;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        hyphens: none;
    }

    /* imagem */
    .imgcentralizada{
        max-width: 100%;
        max-height: 96vh;
        text-align: center;
    }

    .imgAlinhadaEsq{
        max-width: 60%;
        margin: 0;
        float: left;
    }

    figcaption p, .legendaimg-especialcase{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
    }

    figcaption a{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color:#0000FF;
        text-decoration: underline;
    }

    /*autoria e referencia*/
    .referenciar{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        text-align: right;
    }

    .linkto_contato{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
    }

    /* Compartilhar */
    #compartilharHistorietas-titulo h4{
        margin-bottom: 0;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    #compartilharHistorietas {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    #compartilharHistorietas span {
        width: 40px;
        height: 40px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        margin: 0 0 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    }

    #compartilharHistorietas span:hover{
        cursor: pointer;
    }

    #compartilharHistorietas span .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
        vertical-align: 2px !important;
        margin-right: 0 !important;
    }

    #compartilharHistorietas span:hover .icon {
        display: inline-block;
        color: #fff;
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
    }

    #compartilharHistorietas span:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: .5s;
        z-index: 2;
    }

    #compartilharHistorietas span:hover:before {
        top: 0;
    }

    #compartilharHistorietas span:nth-child(1):before{
        background: #aab1c0;
    }
    
    #compartilharHistorietas span:nth-child(2):before{
        background: #3b5999;
    }

    #compartilharHistorietas span:nth-child(3):before{
        background: #55acee;
    }

    #compartilharHistorietas span:nth-child(4):before{
        background: #FE0B81;
    }

    #compartilharHistorietas span:nth-child(5):before{
        background: #128C7E;
    }

    #compartilharHistorietas span:nth-child(6):before{
        background: #FF4500;
    }

    #compartilharHistorietas span:nth-child(7):before{
        background: #0077B5;
    }

    #compartilharHistorietas span:nth-child(8):before{
        background: #C8232C;
    }

    /* processo */
    #container_processo {
        text-align: center;
        margin-top: 35px;
    }

    #mySlidesProcessoID{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        position: relative;
    }

    .mySlides {
        flex-grow: 1;
        border: none;
        margin: 0;
        padding: 0;
    }

    .mySlides iframe {
        width: 100%;
        height: 500px;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
    }

    #prevProcesso, #nextProcesso {
        cursor: pointer;
        margin-top: -10px;  
        padding: 8px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        font-size: 2rem;
    }
    
    #posicaoDotsProcesso {
        display: flex;
        justify-content: center;
    }

    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* ENCERRAMENTO */
    #explicacoes{
        margin-top: 20px;
    }
    
    #introHistorietas{
        margin-bottom: 25px;
    }

    #historieta-encerramento{
        margin-top: 35px;
        padding-top: 35px;
        border-top: 2px solid #b6b6b6;
        border-width: thin;
    }

    #historieta-encerramento h2{
        text-align: center;
    }

    #container_contribuicoesHistorietas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
    }

    .contribuicoesHistorietas{
        width: 30%;
        min-width: 20%;
    }

    .contribuicoesHistorietas h4{
        margin-bottom: 15px;
    }

    .title_contribuicoesHistorietas{
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        text-transform: uppercase;
    }

    /* diretamente */
    #container_contribuicaopix{
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 12px;
    }

    .button_contribuicaopix-container, .button_meuslivros-container, .button_lojaartes-container{
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        filter: blur(0);
        -webkit-filter: blur(0);
        transition: transform .2s;
    }

    .button_contribuicaopix-container:hover, .button_meuslivros-container:hover, .button_lojaartes-container:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform .2s;
    }

    .button_contribuicaopix{
        margin-left: 0px;
        margin-right: 0px;
        height: 26px;
        background-color: rgb(31, 107, 102);
        border-radius: 3px;
        display: flex;
        align-items: center;
    }

    .textbutton_contribuicaopix{
        color:rgb(255, 255, 255); 
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0 10px 0 10px;
    }

    .icon_pix{
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(323deg) brightness(102%) contrast(101%);
        width: 9.344px;
        height: 12.219px;
        padding-top: 3px;
    }

    .button_meuslivros{
        margin-left: 0px;
        margin-right: 0px;
        height: 26px;
        background-color: #FFC97F;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    
    .textbutton_meuslivros{
        color:rgb(26, 25, 25); 
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0 10px 0 10px;
    }

    .button_lojaartes{
        margin-left: 0px;
        margin-right: 0px;
        height: 26px;
        background-color: #d2bbf0;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    
    .textbutton_lojaartes{
        color:rgb(26, 25, 25); 
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0 10px 0 10px;
    }

    /* indiretamente */
    #organizer_contribuicoesIndiretasHistorietas{
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 12px auto 0 auto;
    }

    #container_linkafiliado {
        height: 26px;
        width: fit-content;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        filter: blur(0);
        -webkit-filter: blur(0);
        transition: transform .2s;
        display: flex;
        align-items: center;
    }

    #container_linkafiliado:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform .2s;
    }

    .linkafiliado {
        border-radius: 3px;
        background-color: #ffe95a;
        color:rgb(26, 25, 25); 
        height: 26px;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        padding: 0 10px 0 10px;
    }

    .lu{
        background-color: #4B83F9 !important;
        color: white;
    }

    /* sem custo */
    .contribuicoesHistorietas ul{
        text-align: center;
        margin-top: 8px;
    }

    .contribuicoesHistorietas>.icon.alt{
        color: #717981;
    }
    
/* GoToComentários */
    #comentarioshistorieta:hover{
        cursor: pointer;
        color: #252121 !important;
    }

    #comentarioshistorieta{
        position: relative;
        display: -webkit-inline-box;
    }

    #comentarioshistorieta::before{
        background: hsl(45 100% 70%);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
    }

    #comentarioshistorieta:hover::before{
        transform: scaleX(1);
        transform-origin: left;
    }

/* REGRAS DE MIDIA */
    @media screen and (max-width: 700px) and (min-width: 551px){
        h2{
            font-size: 2.5rem;
        }

        h4{
            font-size: 1.2rem;
        } 
    }

    @media screen and (max-width: 550px){
        h2{
            font-size: 2.2rem;
        }

        h4{
            font-size: 1.1rem;
        } 
    }

    @media screen and (max-width: 736px){
        #main {
            padding: 2rem 1.8rem 2rem 1.8rem;
        }

        #prevProcesso, #nextProcesso{
            display: none;
        }
    }

    @media screen and (max-width: 1080px) and (min-width:890px){
        #container_contribuicoesHistorietas{
            flex-wrap: wrap;
            justify-content: center;
        }

        .contribuicoesHistorietas{
            width: 40%;
            margin-bottom: 50px;
        }

        .contribuicoesHistorietas:first-of-type{
            margin-right: 50px;
        }

        .contribuicoesHistorietas:last-of-type{
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 889px){
        .txt_pinMateriaisUsados{
            font-size: 0.75rem;
        }

        .fa-thumb-tack {
            font-size: small;
        }

        .pinMateriaisUsados{
            padding-left: 15px;
            padding-right: 15px;
        }

        #container_contribuicoesHistorietas{
            flex-wrap: wrap;
            justify-content: center;
        }

        .contribuicoesHistorietas{
            width: 90%;
            margin-bottom: 50px;
        }

        .contribuicoesHistorietas:last-of-type{
            margin-bottom: 0;
        }

        .contribuicoesHistorietas h4{
            text-align: left;
        }

        #container_contribuicaopix{
            justify-content: flex-start;
        }


        .button_contribuicaopix-container, .button_meuslivros-container{
            margin-right: 10px;
        }

        #organizer_contribuicoesIndiretasHistorietas{
            justify-content: flex-start;
        }

        #container_linkafiliado{
            margin-right: 10px;
            margin-top: 12px;
        }

        .contribuicoesHistorietas ul{
            text-align: left;
        }
    }

    @media screen and (max-width: 464px) and (min-width: 403px){
        #compartilharHistorietas span:nth-child(8){
            display: none;
        }
    }

    @media screen and (max-width: 402px){
        #compartilharHistorietas span:nth-child(7){
            display: none;
        }
        #compartilharHistorietas span:nth-child(8){
            display: none;
        }
    }
    
</style>

<script>
/* ----------------MATERIAIS LINKS AFILIADOS---------------- */
    let flagMateriaisAberto = false;
    
    let expandirmateriais = function(e){
        e.stopPropagation();
        let listademateriais = document.getElementsByClassName('listaMateriais')[0];
        listademateriais.style.display = "inline-grid";
        
        flagMateriaisAberto = true;

        let botaomateriais = document.getElementsByClassName('pinMateriaisUsados');
        botaomateriais[0].style.display = "none";

        let buttonCloseMateriais = document.getElementsByClassName('toCloseMateriais')[0];
        buttonCloseMateriais.style.display = "block";

        window.addEventListener('click', function(g){
            if(!listademateriais.contains(g.target)){
                fecharmateriais();
            }
        }, options = {"once": true})
    }

    document.addEventListener('keydown', (ev) => {
       if(flagMateriaisAberto==true){
            if(ev.key == 'Escape'){/* para ler quando preciona o esc*/
                fecharmateriais();
            }
        }
    }) 

    function fecharmateriais(){
        let buttonCloseMateriais = document.getElementsByClassName('toCloseMateriais')[0];
        buttonCloseMateriais.style.display = "none";

        if(window.innerWidth < 980){
            navPanelToggle.style.cssText = ''
        }

        let listademateriais = document.getElementsByClassName('listaMateriais');
        listademateriais[0].style.display = "none";

        let botaomateriais = document.getElementsByClassName('pinMateriaisUsados');
        botaomateriais[0].style.display = "inline-flex";

        flagMateriaisAberto = false;
        isMouseoverMateriais = true;
    }
/* ----------------FIM DOS MATERIAIS LINKS AFILIADOS---------------- */

    /* DESTACARR O MENU*/
    let activeMenu = document.querySelector("#nav > ul > li:nth-child(2)") || undefined;
    if(activeMenu)
        activeMenu.innerHTML = '<li class="active"> <a href="/historietas">Historietas</a></li>'

    /* COMPARTILHAMENTO */
    function fbSharing() {
        var url = "https://www.facebook.com/sharer/sharer.php?u=" + urlCurrentPage;
        window.open(url , "share_dialog", "width=500, height=300");
    }

    function ttSharing(){
        var url = "https://twitter.com/share?url=" + urlCurrentPage + "%0a%0a&text=Gente, leia {{ .Params.title }}, história escrita pelo autor @tdvadilho :) &text=🔗&hashtags=historietasTDVadilho";
        window.open(url , "share_dialog", "width=790, height=462");
    }

    function redditSharing(){
        var url = "https://www.reddit.com/submit?title=Historieta%20-%20TDVadilho&text=Gente,%20leia%20{{ .Params.title }},%20história%20escrita%20pelo%20autor%20@td.vadilho";
        window.open(url , "share_dialog", "width=790, height=742");
    }

    function pinterestSharing(){
        var url = "pinterestSharing('{{ .Params.linkPin }}')";
        window.open(url , "share_dialog", "width=1080, height=727");
    }

    function wppSharing(){
        var url = "https://api.whatsapp.com/send?text=Lê essa história do escritor TD Vadilho " + urlCurrentPage
        window.open(url)
    }

    function linkedinSharing(){
        var url = "https://www.linkedin.com/feed/?shareActive=true&text=Gente, leia '{{ .Params.title }}', história do %23escritor TD Vadilho! https://tdvadilho.com/historietas/historieta6 %23historias %23literatura"
        window.open(url, "width=790, height=742")
    }

    function instagramSharing(){
        var url = "{{ .Params.linkInsta }}"
        window.open(url, "width=790, height=742")
    }
    
    /* Carregando links de compartilhamento */
    let urlCurrentPage = window.location.href;

        /* Copiar URL*/    
        let copiarUrlSharing = function() {
            let createCopiarNotification = function() {
                let notification = document.getElementById("urlCopiarNotification");
                notification.style.display = "block";
                notification.innerHTML = '<i class="fa fa-link"></i> URL COPIADA</div>';
                
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 2800);
            }

            if(navigator.clipboard) {
                navigator.clipboard.writeText(window.location.href);
                createCopiarNotification();
            }
            createCopiarNotification();
        }

    // CARROSSEL
 
    let slideIndex = 1;
        showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    //SWIPE LEFT OR RIGHT
    let touchsurface = document.getElementById('container_processo'),
        startX, 
        startY,
        dist,
        distThreshold,
        thresholdX = 50,
        thresholdY = 50,
        allowedTime = 1500,
        elapsedTime,
        startTime

    let setupSlider = function() {
        touchsurface.addEventListener('touchstart', function(e) {
            let touchobj = e.changedTouches[0]
            
            dist = 0
            distThreshold = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() 
        }, false)

        touchsurface.addEventListener('touchend', function(e) {
            var touchobj = e.changedTouches[0]
            dist = touchobj.pageX - startX
            distThreshold = Math.abs(dist)
            elapsedTime = new Date().getTime() - startTime

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist > 0 &&
                flagMateriaisAberto == false
            ){
                document.getElementById('prevProcesso').click()
            }

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist < 0 &&
                flagMateriaisAberto == false
            ){                                         
                document.getElementById('nextProcesso').click()
            }
        }, false)
    }
    
    document.addEventListener("DOMContentLoaded", (event) => { 
        setupSlider()
    });

    let goToComentarios = function(){
        let comentariosYPosition = document.getElementById("comentarioshist-container").offsetTop
        window.scrollTo({left: 0, top: comentariosYPosition, behavior: "smooth"})
    }
</script>