{{- partial "htmlhead" . -}}
{{ $data := index .Site.Data .Site.Language.Lang }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        {{- partial "header" . -}}
        {{- partial "nav" . }}

        <div id="main">
            <table>
                <thead>
                    <tr>
                      <th>Fonte: www.tdvadilho.com</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div id="historietas_container">
                        
                                <h2> {{ .Title }} </h2>
                                <h4> {{ .Params.Historietanumero }} |
                                    <img class="icon_classifIndicativaMiddleAlign" src= "{{ .Params.ClasIndicativa }}" > 
                                    {{ .Params.DescripIndicativa }}
                                </h4>

                                {{ .Content }}
                                
                                <p class="referenciar">
                                    Autor e ilustrador: Thiago David Vadilho (TD Vadilho)
                                    <br>
                                    *Jamais venda ou monetize este conteúdo sem a autorização expressa do autor. 
                                    <br>
                                    Caso necessário, entre em <a  href='{{ "#contatar" | relLangURL }}' class="linkto_contato"><u>contato</u></a>.
                                </p>

                                <div id="buttonContainer_compartilharHistorietas">
                                    <button type="submit" id="button_compartilharHistorieta" onclick="abrirCompartilhar(event)">
                                        <i class="fa fa-share-alt fa-lg"></i> Compartilhar
                                    </button>

                                    <button type="submit" id="button_imprimirHistorieta" onclick="imprimirHistorieta()">
                                        <i class="fa fa-print fa-lg"></i> Imprimir
                                    </button>
                                </div>

                                {{ if isset .Params "processocriativo" }}
                                    <div id="container_processo"> 
                                        <h2>Processo criativo</h2>

                                        <div id="mySlidesProcessoID">
                                            <a id="prevProcesso" onclick="plusSlides(-1)"><span class='fa fa-chevron-circle-left fa' aria-hidden='true'></span></a>
                                                <div id="container_slidesAndMateriais">
                                                    {{ if isset .Params "listamateriais" }}
                                                        <span class="pinMateriaisUsados" onclick="expandirmateriais(event)">
                                                        <span class="txt_pinMateriaisUsados">MATERIAIS</span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                                                        
                                                        <div class="listaMateriais">
                                                            <span class="txt_pinMateriaisUsadosAberto">MATERIAIS (LINKS AFILIADOS) <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                                                <span class='toCloseMateriais' onclick="fecharmateriais()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                                            </span>
                                                            {{ range $item := .Params.listaMateriais }}
                                                                <span class="itemDaLista">
                                                                    <a href="{{ $item.link }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {{ $item.nome }}</a>
                                                                </span>
                                                            {{ end }}
                                                            <span class="txt_pinMateriaisUsadosAbertoAviso">
                                                            <span class="divisoriaBonitaMateriais"></span>
                                                            Comprar pelos links gera renda para o site <b>sem</b> alterar o custo da sua compra</span>
                                                        </div>
                                                    {{ end }}
                                                
                                                    {{ range $processoCriativo := .Params.processoCriativo }}
                                                        <div class="mySlides fade">
                                                            {{ if strings.Contains $processoCriativo "youtube" }}
                                                                <iframe
                                                                    src={{ $processoCriativo }}
                                                                    title="YouTube video player" frameborder="0" scrolling="no"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                                    allowfullscreen>
                                                                </iframe>
                                                            {{ else }}
                                                                <img src="{{ $processoCriativo }}">
                                                            {{ end }}
                                                        </div>
                                                    {{ end }}
                                                </div>
                                            <a id="nextProcesso" onclick="plusSlides(1)"><span class='fa fa-chevron-circle-right fa' aria-hidden='true'></span></a>
                                        </div>                               

                                        <div id="posicaoDotsProcesso">
                                            {{ range $i := (seq (len .Params.processoCriativo)) }}
                                                <span class="dot" onclick='currentSlide("{{ $i }}")'></span>
                                            {{ end }}
                                        </div>
                                    </div>
                                {{ end }}

                                <div id="historieta-encerramento">
                                    <h2>Ajude o projeto</h2>
                                    <div id="explicacoes">
                                     <p id="introHistorietas">O projeto historietas é produzido e disponibilizado gratuitamente graças ao apoio
                                            dos leitores. Caso puder, e quiser contribuir, por favor, verifique as opções abaixo. Muito obrigado ❤️
                                        </p>
                                        
                                        <div id="container_contribuicoesHistorietas">
                                            <div class="contribuicoesHistorietas">
                                                <h4>Diretamente</h4>
                                                <p>Clique em um dos botões abaixo para mandar um PIX. Toda contribuição faz uma enorme diferença!</p>

                                                <div id="container_contribuicaopix">
                                                        <a href="https://nubank.com.br/pagar/11jeh7/SzzazyVAuQ" class="button_contribuicaopix-container" target="_blank">
                                                            <div class="button_contribuicaopix">
                                                                <p class="textbutton_contribuicaopix"><img src="/images/icon_pix.svg" class="icon_pix"> R$ 2,50</p>
                                                            </div>
                                                        </a>

                                                        <a href="https://nubank.com.br/pagar/11jeh7/xz6pO4OTxo" class="button_contribuicaopix-container" target="_blank">
                                                            <div class="button_contribuicaopix">
                                                                <p class="textbutton_contribuicaopix"><img src="/images/icon_pix.svg" class="icon_pix"> R$ 5,00</p>
                                                            </div>
                                                        </a>

                                                        <a href="https://nubank.com.br/pagar/11jeh7/8ABRsdHuzw" class="button_contribuicaopix-container" target="_blank">
                                                            <div class="button_contribuicaopix">
                                                                <p class="textbutton_contribuicaopix"><img src="/images/icon_pix.svg" class="icon_pix"> OUTRO</p>
                                                            </div>
                                                        </a>
                                                </div>    
                                            </div>

                                            <div class="contribuicoesHistorietas">
                                                <h4>Indiretamente</h4>
                                                <p>Compras a partir de links afiliados geram renda para o projeto sem qualquer custo adicional para você.</p>
                                                <a href="https://docs.google.com/spreadsheets/d/1DJxa44ngnqBP9sUN0czkUV66Z7qXPEoODkHs1WnuSQg/edit#gid=0" class="clicavel_linkafiliado"  target="_blank">
                                                    <div id="container_linkafiliado">
                                                        <div class="linkafiliado"><i class="fa fa-bookmark" aria-hidden="true"></i> LEITURAS FAVORITAS 2023</div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="contribuicoesHistorietas">
                                                <h4>Sem custo</h4>
                                                <p>Seguindo minhas redes sociais você estará me ajudando a levar o meu trabalho para um público maior.</p>

                                                {{ with $data.social }}
                                                    <ul class="icons alt">
                                                        {{ with .instagram}}
                                                            <li><a href="{{ . }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                                        {{ end }}

                                                        {{ with .pinterest}}
                                                            <li><a href="{{ . }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
                                                        {{ end }}

                                                        {{ with .youtube }}
                                                            <li><a href="{{ . }}" class="icon fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
                                                        {{ end }}
                                                    </ul>
                                                {{ end }}
                                            </div>
                                        </div>

                                        <p id="introHistorietasImprimir">O projeto historietas é produzido e disponibilizado gratuitamente graças ao apoio
                                            dos leitores. Caso puder, e quiser contribuir, acesse qualquer Historieta pelo meu site (www.tdvadilho.com). Muito obrigado❤️</p>                                        
                                    </div>
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{- partial "copyright" . }}
        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
       
        <!-- BOTÕES COMPARTILHAR -->
        <div id="compartilharHistContainer">
            <div id='buttonCloseCompartilhar'>
                <span class='fa fa-times' aria-hidden='true' onclick="closeCompartilhar()"></span>
            </div>

            <!-- Copy Link -->

            <div id="copyUrl_sharebutton">
            </div>
            
            <!-- WPP -->
            <div id="wpp_sharebutton"> 
            </div>

            <!-- Twitter -->
            <div id="twitter_sharebutton">
            </div>

            <!-- Facebook -->
            <div id="facebook_sharebutton">
            </div>

            <!-- Reddit -->
            <div id="reddit_sharebutton">
            </div>

            <!-- Pinterest -->
            <div id="pinterest_sharebutton">
            </div>
        </div>

        <div id="urlCopiarNotification">
        </div>

    </div>

    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}

</body>

<style>
/* GERAIS */
    #main{
        border: none;
        padding: 4rem 5rem 3rem 5rem;
    }

    a{
        border: none;
    }

    a:hover{
        cursor: pointer;
    }

    h4{
        margin-bottom: 30px;
    }

    button{
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 10px;
    }

/* HISTORIETA */
    /* texto */
    table td{
        padding: 0;
    }

    table thead{
        border: none;
    }

    thead{
        display: none;
    }

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0);C
    }

    table tbody tr {
        border: none;
    }
    
    .text_divisorCapitulos{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: inherit;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        hyphens: none;
    }

    /* imagem */
    .imgcentralizada{
        max-width: 100%;
        max-height: 96vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .imgAlinhadaEsq{
        max-width: 60%;
        margin: 0;
        float: left;
    }

    figcaption p{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
    }

    figcaption a{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        text-decoration: underline;
    }

    /*autoria e referencia*/
    .referenciar{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        text-align: right;
        margin-top: 20px;
    }

    .linkto_contato{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        margin-top: 25px;
    }
    
    /* imprimir */
    #introHistorietasImprimir{
        display: none;
    }

    /* Caption text */
    .text {
        color: #141414;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /* Regras de media */
    @media screen and (max-width: 835px){
        h1{
            font-size: 2rem;
        }

        h3{
            font-size: 1rem;
        }
    }

    /* screen */
    @media screen and (max-width: 736px){
        #main {
            padding: 2rem 1.8rem 2rem 1.8rem;
        }
        #compartilharHistContainer{
            width: 352px;
        }
        #compartilharHistBotoesContainer{
            text-align: center;
        }

        #prevProcesso, #nextProcesso{
            display: none;
        }
        figcaption p{
            text-align: center;
            font-size: 0.7rem;
            line-height: 1.6;
            color: rgb(122, 122, 122);
        }

        figcaption a{
            text-align: center;
            font-size: 0.7rem;
            line-height: 1.6;
            color: rgb(122, 122, 122);
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 1036px) and (min-width:737px){
        #compartilharHistContainer{
            max-width: 352px;
        }
    }

    /* print */
    @page{
        size: a4;
        orphans: 2;
        widows: 2;
        page-break-after: always;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    @media print {
        p {
            font-family:georgia, times, serif;
            font-size: 13px;
        }
        #header, #copyright, #navPanelToggle, #nav, #button_imprimirHistorieta, #button_compartilharHistorieta, #container_processo, #posicaoDotsProcesso, .bg, #container_contribuicoesHistorietas{
            display: none;
        }
        #main, #historietas_container{
            padding: 0px;
        }

        body{
            background-image: none;
            background-color: #ffffff00;
        }
        
        h2{
            font-size: 2.5rem;
            margin-top: 45px;
        }

        h2{
            font-size: 1rem;
        }

        .referenciar{
            font-size: 0.8rem;
            line-height: 1.6;
            color: rgb(122, 122, 122);
            text-align: right;
            margin-top: 20px;
        }

        html, body {
            width: 210mm;
            height: 297mm;
        }

        table td{
            margin-left: 500px;
        }

        thead{
            display: inline;
        }

        table th { 
            font-family: inherit;
            letter-spacing: 0.075em;
            text-transform: none;
            padding:0;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgb(122, 122, 122);
            text-align: right;
            position: fixed;
            margin-top: 0px;
            bottom: 0;
            right: 0;
        } 

        #introHistorietasImprimir{
            display: inline-block;
        }

        #introHistorietas{
            display: none;
        }
    }

    @media print and (color) {
        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }

    /* processo */
    #container_processo {
        text-align: center;
        margin-top: 35px;
    }

    #mySlidesProcessoID{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        position: relative;
    }

    .mySlides {
        flex-grow: 1;
        border: none;
        margin: 0;
        padding: 0;
    }

    .mySlides iframe {
        width: 100%;
        height: 500px;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
    }

    #prevProcesso, #nextProcesso {
        cursor: pointer;
        margin-top: -10px;  
        padding: 8px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        font-size: 2rem;
    }
    
    #posicaoDotsProcesso {
        display: flex;
        justify-content: center;
    }

    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* ENCERRAMENTO */
    #explicacoes{
        margin-top: 20px;
    }
    
    #introHistorietas{
        margin-bottom: 25px;
    }

    #historieta-encerramento{
        margin-top: 35px;
        padding-top: 35px;
        border-top: 2px solid #b6b6b6;
        border-width: thin;
    }

    #historieta-encerramento h2{
        text-align: center;
    }

    #container_contribuicoesHistorietas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
    }

    .contribuicoesHistorietas{
        width: 30%;
        min-width: 20%;
    }

    .contribuicoesHistorietas h4{
        margin-bottom: 15px;
    }

    .title_contribuicoesHistorietas{
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        text-transform: uppercase;
    }

    /* diretamente */
    #container_contribuicaopix{
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 12px;
    }

    .button_contribuicaopix-container{
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        filter: blur(0);
        -webkit-filter: blur(0);
        transition: transform .2s;
    }

    .button_contribuicaopix-container:hover{
        cursor: pointer;
        transform: perspective(300px) rotateY(1deg) translateZ(10px) scale(0.97);
        transition: transform .2s;
    }

    .button_contribuicaopix{
        display: flex;
        margin-left: 0px;
        margin-right: 0px;
        height: 26px;
        background-color: rgba(0,95,89,1.00);
        border-radius: 3px;
        text-align: center;
        justify-self: center;
        align-items: center;
    }

    .textbutton_contribuicaopix{
        color:rgb(255, 255, 255); 
        letter-spacing: 0.6px;
        font-size: smaller;
        font-weight: bold;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    .icon_pix{
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(323deg) brightness(102%) contrast(101%);
        width: 9.344px;
        height: 12.219px;
        padding-top: 3px;
    }

    /* indiretamente */
    #container_linkafiliado {
        margin-top: 8px;
        height: 26px;
        display: flex;
        margin: 12px auto 0 auto;
        width: fit-content;
    }

    #container_linkafiliado :hover{
        cursor: pointer;
        transform: perspective(300px) rotateY(1deg) translateZ(10px) scale(0.97);
        transition: transform .2s;
    }

    .linkafiliado {
        border-radius: 3px;
        background-color: #ffe95a;
        color: rgb(0, 0, 0);
        height: 26px;
        letter-spacing: 0.6px;
        font-size: smaller;
        font-weight: bold;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    /* sem custo */
    .contribuicoesHistorietas ul{
        text-align: center;
        margin-top: 8px;
    }


/* REGRAS DE MIDIA */
    @media screen and (max-width: 700px) and (min-width: 551px){
        h2{
            font-size: 2.5rem;
        }

        h4{
            font-size: 1.2rem;
        } 
    }

    @media screen and (max-width: 550px){
        h2{
            font-size: 2.2rem;
        }

        h4{
            font-size: 1.1rem;
        } 
    }

    @media screen and (max-width: 736px){
        #main {
            padding: 2rem 1.8rem 2rem 1.8rem;
        }
        #compartilharHistContainer{
            width: 352px;
        }
        #buttonContainer_compartilharHistorietas{
            text-align: center;
        }

        #prevProcesso, #nextProcesso{
            display: none;
        }
    }

    @media screen and (max-width: 1036px) and (min-width:737px){
        #compartilharHistContainer{
            max-width: 352px;
        }
    }

    @media screen and (max-width: 1080px) and (min-width:890px){
        #container_contribuicoesHistorietas{
            flex-wrap: wrap;
            justify-content: center;
        }

        .contribuicoesHistorietas{
            width: 40%;
            margin-bottom: 50px;
        }

        .contribuicoesHistorietas:first-of-type{
            margin-right: 50px;
        }

        .contribuicoesHistorietas:last-of-type{
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 889px){
        .txt_pinMateriaisUsados{
            font-size: 0.75rem;
        }

        .fa-thumb-tack {
            font-size: small;
        }

        .pinMateriaisUsados{
            padding-left: 15px;
            padding-right: 15px;
        }

        #container_contribuicoesHistorietas{
            flex-wrap: wrap;
            justify-content: center;
        }

        .contribuicoesHistorietas{
            width: 90%;
            margin-bottom: 50px;
        }

        .contribuicoesHistorietas:last-of-type{
            margin-bottom: 0;
        }

        .contribuicoesHistorietas h4{
            text-align: left;
        }

        #container_contribuicaopix{
            justify-content: flex-start;
        }

        .button_contribuicaopix-container{
            margin-right: 10px;
        }

        #container_linkafiliado{
            margin: 12px 0 0 0;
        }

        .contribuicoesHistorietas ul{
            text-align: left;
        }
    }
    
</style>

<script>
    /* DESTACARR O MENU*/
    let activeMenu = document.querySelector("#nav > ul > li:nth-child(2)") || undefined;
    if(activeMenu)
        activeMenu.innerHTML = '<li class="active"> <a href="/historietas">Historietas</a></li>'

    /* COMPARTILHAMENTO */
    function fbSharing(post_url) {
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=500, height=300");
    }

    function ttSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=790, height=462");
    }

    function redditSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=790, height=742");
    }

    function pinterestSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=1080, height=727");
    }
    
    /* Carregando links de compartilhamento */
        let urlCurrentPage = window.location.href;

        /* WPP */
        document.getElementById('wpp_sharebutton').innerHTML += 
            `<a href="https://api.whatsapp.com/send?text=${urlCurrentPage}" target="_blank" data-action="share/whatsapp/share">
                <div class="logoRedeContainerWpp">
                    <i class="icon alt icon_compartilharHistorieta fa-whatsapp fa-lg"></i>
                </div>
                <div class="nomeRedeContainerWpp">WhatsApp</div>
            </a>`

        /* Twitter */
        document.getElementById('twitter_sharebutton').innerHTML += 
            `<a onclick='ttSharing("https://twitter.com/share?url=` + urlCurrentPage + `%0a%0a&text=Que tal ler uma historieta hoje?&hashtags=HistorietasTDVadilho,Historietas")'>
                <div class="logoRedeContainerTwitter">
                    <i class="icon alt icon_compartilharHistorieta fa-twitter fa-lg"></i>
                </div>
                <div class="nomeRedeContainerTwitter">Twitter</div>    
            </a>`

         /* Facebook */
         document.getElementById('facebook_sharebutton').innerHTML += 
            `<a onclick='fbSharing("https://www.facebook.com/sharer/sharer.php?u=` + urlCurrentPage + `")'>
                <div class="logoRedeContainerFacebook">
                    <i class="icon alt icon_compartilharHistorieta fa-facebook fa-lg"></i>
                </div>
                <div class="nomeRedeContainerFacebook">Facebook</div>    
            </a>`

        /* Reddit */
        let reddit_url = "https://www.reddit.com/submit?title=Historieta%20-%20TDVadilho&text=Que%20tal%20ler%20uma%20historieta%20hoje?%20[{{ .Params.title }}]"
        document.getElementById('reddit_sharebutton').innerHTML += 
            `<a onclick='redditSharing("${reddit_url}(${urlCurrentPage})%0a%0a&signup_survey=true")'>
                <div class="logoRedeContainerReddit">
                    <i class="icon alt icon_compartilharHistorieta fa-reddit-alien fa-lg"></i>
                </div>
                <div class="nomeRedeContainerReddit">Reddit</div>
            </a>`
            
        /* Pinterest */
        let pinterest_url = "pinterestSharing('{{ .Params.linkPin }}')"
        document.getElementById('pinterest_sharebutton').innerHTML += `<a onclick="${pinterest_url}">
                <div class="logoRedeContainerPinterest">
                    <i class="icon alt icon_compartilharHistorieta fa-pinterest fa-lg"></i>
                </div>
                <div class="nomeRedeContainerPinterest">Pinterest</div>    
            </a>`

        /* Copiar URL*/    
        document.getElementById('copyUrl_sharebutton').innerHTML += 
            `<a onclick="copiarUrl()">
                <div class="iconeContainerCopyUrl">
                    <i class="icon alt icon_compartilharHistorieta fa-link fa-lg"></i>
                </div>
                <div class="nomeContainerCopyUrl">Copiar url</div>    
            </a>`

        let copiarUrl = function() {
            let createCopiarNotification = function() {
                let notification = document.getElementById("urlCopiarNotification");
                notification.style.display = "block";
                notification.innerHTML = '<i class="fa fa-link"></i> URL COPIADA</div>';
                
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 2800);
            }

            if(navigator.clipboard) {
                navigator.clipboard.writeText(window.location.href);
                createCopiarNotification();
            }
            createCopiarNotification();
        }

    let imprimirHistorieta = function (){
        window.print();
    }

    let flagCompartilharAberto = false;
    let abrirCompartilhar = function(e) {
        e.stopPropagation()
        let container = document.getElementById("compartilharHistContainer");
        container.style.display = "inline-flex";
        flagCompartilharAberto = true;

        window.addEventListener('click', function(g){
            if(!container.contains(g.target)){
                closeCompartilhar();
            }
        }, options = {"once": true})
    }

    document.addEventListener('keydown', (ev) => {
        if((ev.key == 'Escape') && (flagCompartilharAberto == true)){
            closeCompartilhar();
        }
    }) 

    let closeCompartilhar = function () {
        let container = document.getElementById("compartilharHistContainer")
        container.style.display="none"
    }

    // CARROSSEL
 
    let slideIndex = 1;
        showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    //SWIPE LEFT OR RIGHT
    let touchsurface = document.getElementById('container_processo'),
        startX, 
        startY,
        dist,
        distThreshold,
        thresholdX = 50,
        thresholdY = 50,
        allowedTime = 1500,
        elapsedTime,
        startTime

    let setupSlider = function() {
        touchsurface.addEventListener('touchstart', function(e) {
            let touchobj = e.changedTouches[0]
            
            dist = 0
            distThreshold = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() 
        }, false)

        touchsurface.addEventListener('touchend', function(e) {
            var touchobj = e.changedTouches[0]
            dist = touchobj.pageX - startX
            distThreshold = Math.abs(dist)
            elapsedTime = new Date().getTime() - startTime

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist > 0 &&
                flagMateriaisAberto == false
            ){
                document.getElementById('prevProcesso').click()
            }

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist < 0 &&
                flagMateriaisAberto == false
            ){                                         
                document.getElementById('nextProcesso').click()
            }
        }, false)
    }
    
    document.addEventListener("DOMContentLoaded", (event) => { 
        setupSlider()
    });
</script>