{{- partial "htmlhead" . -}}
{{ $data := index .Site.Data .Site.Language.Lang }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        {{- partial "header" . -}}
        {{- partial "nav" . }}

        <div id="main">
            <table>
                <thead>
                    <tr>
                      <th>Fonte: www.tdvadilho.com</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div id="container_blogPost">
                        
                                <h2> {{ .Title }} </h2>
                                <h4> {{ .Params.Subtitle }} | <img class="icon_classifIndicativaMiddleAlign" src= "{{ .Params.ClasIndicativa }}" > {{ .Params.DescripIndicativa }} </h4>

                                {{ .Content }}

                                <div id="container_btnCompartilharBlogPost">
                                    <button type="submit" id="btn_compartilharBlogPost" onclick="abrirCompartilhar(event)">
                                        <i class="fa fa-share-alt fa-lg"></i> Compartilhar
                                    </button>
                                </div>

                                {{ if isset .Params "processocriativo" }}
                                    <div id="mySlidesProcessoID">
                                        <a id="prevProcesso" onclick="plusSlides(-1)">&#10094;</a>
                                            {{ range $processoCriativo := .Params.processoCriativo }}
                                                <div class="mySlides fade">
                                                    {{ if strings.Contains $processoCriativo "youtube" }}
                                                        <iframe
                                                            src={{ $processoCriativo }}
                                                            title="YouTube video player" frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                            allowfullscreen>
                                                        </iframe>
                                                    {{ else }}
                                                        <img src="{{ $processoCriativo }}">
                                                    {{ end }}
                                                </div>
                                            {{ end }}
                                        <a id="nextProcesso" onclick="plusSlides(1)">&#10095;</a>
                                        </div>
                                    </div>

                                    <div id="posicaoDotsProcesso">
                                        {{ range $i := (seq (len .Params.processoCriativo)) }}
                                            <span class="dot" onclick='currentSlide("{{ $i }}")'></span>
                                        {{ end }}
                                    </div>
                                {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="copyrightIntern">© Todas as imagens, textos, arquivos e direitos autorais de conteúdo Thiago David Vadilho (TD Vadilho)</p>
        </div>

        {{- partial "copyright" . }}
        <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
       
        <!-- BOTÕES COMPARTILHAR -->
        <div id="share_postBlog">
            <div id='buttonCloseCompartilhar'>
                <span class='fa fa-times' aria-hidden='true' onclick="closeCompartilhar()"></span>
            </div>

            <!-- Copy Link -->

            <div id="copyUrl_sharebutton">
            </div>
            
            <!-- WPP -->
            <div id="wpp_sharebutton"> 
            </div>

            <!-- Twitter -->
            <div id="twitter_sharebutton">
            </div>

            <!-- Facebook -->
            <div id="facebook_sharebutton">
            </div>

            <!-- Reddit -->
            <div id="reddit_sharebutton">
            </div>

            <!-- Pinterest -->
            <div id="pinterest_sharebutton">
            </div>
        </div>

        <div id="urlCopiarNotification">
        </div>

    </div>

    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}

</body>

{{- partial "temporario" . }}

<style>
    .mySlides {
        flex-grow: 1
    }

    .mySlides iframe {
        /* width: 100%;
        height: 100%; */
        width: 100%;
        height: 500px;
    }

    .iframecontainer{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    .iframecontainer iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

/* GERAIS */
    #main{
        border: none;
        padding: 4rem 5rem 3rem 5rem;
    }

    a{
        border: none;
    }

    p>a{
        text-decoration: underline;
    }

    a:hover{
        cursor: pointer;
    }

    h4{
        margin-bottom: 30px;
    }

    button{
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 10px;
    }

/* HISTORIETA */
    /* texto */
    table td{
        padding: 0;
    }

    table thead{
        border: none;
    }

    thead{
        display: none;
    }

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0);C
    }

    table tbody tr {
        border: none;
    }
    
    .text_divisorCapitulos{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: inherit;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        hyphens: none;
    }

    /* imagem */
    .imgcentralizada{
        width: 100%;
        max-height: 96vh;
        display: inline-block;
        text-align: center;
    }

    .imgAlinhadaEsq{
        max-width: 60%;
        margin: 0;
        float: left;
    }

    figcaption p{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
    }

    figcaption a{
        text-align: center;
        font-size: 0.85rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        text-decoration: underline;
    }

    /*autoria e referencia*/
    .referenciar{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        text-align: right;
        margin-top: 20px;
    }

    .linkto_contato{
        font-size: 0.9rem;
        line-height: 1.6;
        color: rgb(122, 122, 122);
        margin-top: 25px;
    }

    /* compartilhamento */
    #container_btnCompartilharBlogPost{
        text-align: left;
        margin-top: 20px;
    }

    #share_postBlog{
        position: fixed;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 100vw 100vw 100vw rgba(30, 37, 45, 0.623);
        z-index: 25;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
        bottom: 10px;
        padding: 32px 10px 10px 10px;
        max-width: 520px;
        justify-content: space-evenly;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .icon{
        vertical-align: 1px;
    }

    .icon_compartilharPostBlog{
        margin-right: 0px;
    }

    #buttonCloseCompartilhar:hover{
        color: #00aced;
        cursor: pointer;
    }

    #buttonCloseCompartilhar{
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
        color: #656565;
        border: none;
        font-family: helvetica;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 17px;
        top: 7px;
    }

    .logoRedeContainerWpp{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #075E54;
        text-align: center;
        
    }

    .nomeRedeContainerWpp{
        width: 130px;
        float: right;
        background-color: #128C7E;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    .logoRedeContainerTwitter{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #0084b4;
        text-align: center;
    }

    .nomeRedeContainerTwitter{
        width: 130px;
        float: right;
        background-color:#00aced;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    .logoRedeContainerFacebook{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #3b5998;
        text-align: center;
    }

    .nomeRedeContainerFacebook{
        width: 130px;
        float: right;
        background-color:#8b9dc3;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    .logoRedeContainerReddit{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #b64e28;
        text-align: center;
    }

    .nomeRedeContainerReddit{
        width: 130px;
        float: right;
        background-color:#FF4500;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .logoRedeContainerPinterest{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #BD081C;
        text-align: center;
    }

    .nomeRedeContainerPinterest{
        width: 130px;
        float: right;
        background-color:#c03041;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    .iconeContainerCopyUrl{
        float: left;
        color: white;
        width: 26px;
        height: 26px;
        background-color: #56707D;
        text-align: center;
    }

    .nomeContainerCopyUrl{
        width: 130px;
        float: right;
        background-color:#607D8B;
        color: white;
        font-family: inherit;
        height: 26px;
        letter-spacing: 1px;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    #urlCopiarNotification{
        display: none;
        position: fixed;
        top: 50px;
        z-index: 25;
        transform: translateY(-100%) translateX(-50%);
        left: 50%;
        padding: 9px 20px;
        background: #343a40;
        color: #eeeeee;
        border-radius: 5px;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 900;
        letter-spacing: 0.075em;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.05); 
    }

    #btn_compartilharBlogPost{
        margin-left: 0px;
    }

    /* processo */
    #container_processo {
        text-align: center;
        margin-top: 35px;
    }

    #mySlidesProcessoID{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
    }

    .slideshow-container {
        position: relative;
        margin: auto;
    }

    #prevProcesso, #nextProcesso {
        cursor: pointer;
        margin-top: -10px;  
        padding: 8px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        font-size: 2rem;
    }
    
    #posicaoDotsProcesso {
        display: flex;
        justify-content: center;
    }

    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/* REGRAS DE MIDIA */
    @media screen and (max-width: 700px) and (min-width: 551px){
        h2{
            font-size: 2.5rem;
        }

        h4{
            font-size: 1.2rem;
        } 
    }

    @media screen and (max-width: 550px){
        h2{
            font-size: 2.2rem;
        }

        h4{
            font-size: 1.1rem;
        } 
    }

    @media screen and (max-width: 736px){
        #main {
            padding: 2rem 1.8rem 2rem 1.8rem;
        }
        #share_postBlog{
            width: 352px;
        }
        #container_btnCompartilharBlogPost{
            text-align: center;
        }

        #prevProcesso, #nextProcesso{
            display: none;
        }
    }

    @media screen and (max-width: 1036px) and (min-width:737px){
        #share_postBlog{
            max-width: 352px;
        }
    }  
</style>

<script>
    /* DESTACARR O MENU*/
    let activeMenu = document.querySelector("#nav > ul > li:nth-child(5)") || undefined;
    if(activeMenu)
        activeMenu.innerHTML = '<li class="active"> <a href="/blog">Blog</a></li>'

    /* COMPARTILHAMENTO */
    function fbSharing(post_url) {
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=500, height=300");
    }

    function ttSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=790, height=462");
    }

    function redditSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=790, height=742");
    }

    function pinterestSharing(post_url){
        var url = new String(post_url);
        window.open(post_url , "share_dialog", "width=1080, height=727");
    }

    /* Carregando links de compartilhamento */
        let urlCurrentPage = window.location.href;

        /* WPP */
        document.getElementById('wpp_sharebutton').innerHTML += 
            `<a href="https://api.whatsapp.com/send?text=${urlCurrentPage}" target="_blank" data-action="share/whatsapp/share">
                <div class="logoRedeContainerWpp">
                    <i class="icon alt icon_compartilharPostBlog fa-whatsapp fa-lg"></i>
                </div>
                <div class="nomeRedeContainerWpp">WhatsApp</div>
            </a>`

        /* Twitter */
        document.getElementById('twitter_sharebutton').innerHTML += 
            `<a onclick='ttSharing("https://twitter.com/share?url=` + urlCurrentPage + `%0a%0a&text=Dá uma olhada nesse post!&hashtags=HistorietasTDVadilho,Historietas")'>
                <div class="logoRedeContainerTwitter">
                    <i class="icon alt icon_compartilharPostBlog fa-twitter fa-lg"></i>
                </div>
                <div class="nomeRedeContainerTwitter">Twitter</div>    
            </a>`

         /* Facebook */
         document.getElementById('facebook_sharebutton').innerHTML += 
            `<a onclick='fbSharing("https://www.facebook.com/sharer/sharer.php?u=` + urlCurrentPage + `")'>
                <div class="logoRedeContainerFacebook">
                    <i class="icon alt icon_compartilharPostBlog fa-facebook fa-lg"></i>
                </div>
                <div class="nomeRedeContainerFacebook">Facebook</div>    
            </a>`

        /* Reddit */
        let reddit_url = "https://www.reddit.com/submit?title=Historieta%20-%20TDVadilho&text=Dá%20uma%20olhada%20nesse%20post%20!%20[{{ .Params.title }}]"
        document.getElementById('reddit_sharebutton').innerHTML += 
            `<a onclick='redditSharing("${reddit_url}(${urlCurrentPage})%0a%0a&signup_survey=true")'>
                <div class="logoRedeContainerReddit">
                    <i class="icon alt icon_compartilharPostBlog fa-reddit-alien fa-lg"></i>
                </div>
                <div class="nomeRedeContainerReddit">Reddit</div>
            </a>`

        /* Pinterest */
        let pinterest_url = "pinterestSharing('{{ .Params.linkPin }}')"
        document.getElementById('pinterest_sharebutton').innerHTML += `<a onclick="${pinterest_url}">
                <div class="logoRedeContainerPinterest">
                    <i class="icon alt icon_compartilharHistorieta fa-pinterest fa-lg"></i>
                </div>
                <div class="nomeRedeContainerPinterest">Pinterest</div>    
            </a>`

        /* Copiar URL*/    
        document.getElementById('copyUrl_sharebutton').innerHTML += 
            `<a onclick="copiarUrl()">
                <div class="iconeContainerCopyUrl">
                    <i class="icon alt icon_compartilharPostBlog fa-link fa-lg"></i>
                </div>
                <div class="nomeContainerCopyUrl">Copiar url</div>    
            </a>`

        let copiarUrl = function() {
            let createCopiarNotification = function() {
                let notification = document.getElementById("urlCopiarNotification");
                notification.style.display = "block";
                notification.innerHTML = '<i class="fa fa-link"></i> URL COPIADA</div>';
                
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 2800);
            }

            if(navigator.clipboard) {
                navigator.clipboard.writeText(window.location.href);
                createCopiarNotification();
            }
            createCopiarNotification();
        }

    let imprimirHistorieta = function (){
        window.print();
    }

    let flagCompartilharAberto = false;
    let abrirCompartilhar = function(e) {
        e.stopPropagation()
        let container = document.getElementById("share_postBlog");
        container.style.display = "inline-flex";
        flagCompartilharAberto = true;

        window.addEventListener('click', function(g){
            if (container.contains(g.target)){
            } else{
                closeCompartilhar();  
            }
        }, options = {"once": true})
    }

    document.addEventListener('keydown', (ev) => {
        if((ev.key == 'Escape') && (flagCompartilharAberto == true)){
            closeCompartilhar();
        }
    }) 

    let closeCompartilhar = function () {
        let container = document.getElementById("share_postBlog")
        container.style.display="none"
    }

    // CARROSSEL
 
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

 //SWIPE LEFT OR RIGHT
 let touchsurface = document.getElementById('container_processo'),
        startX, 
        startY,
        dist,
        distThreshold,
        thresholdX = 50,
        thresholdY = 50,
        allowedTime = 1500,
        elapsedTime,
        startTime

    let setupSlider = function() {
        touchsurface.addEventListener('touchstart', function(e) {
            let touchobj = e.changedTouches[0]
            
            dist = 0
            distThreshold = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() 
        }, false)

        touchsurface.addEventListener('touchend', function(e) {
            var touchobj = e.changedTouches[0]
            dist = touchobj.pageX - startX
            distThreshold = Math.abs(dist)
            elapsedTime = new Date().getTime() - startTime
           
            console.log('dist ' + dist + ' threshold X ' + thresholdX)
            console.log('abs y ' + Math.abs(touchobj.pageY - startY) + ' thrs Y ' + thresholdY)
            console.log('elapsedTime ' + elapsedTime + ' allowed ' + allowedTime)

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist > 0
            ){
                document.getElementById('prevProcesso').click()
            }

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist < 0)
            {                                         
                document.getElementById('nextProcesso').click()
            }
        }, false)
    }
    
    document.addEventListener("DOMContentLoaded", (event) => { 
        setupSlider()
    });
</script>