#main{
    background-color: #faf5ff !important;
}

#container-texto-and-image-content{
    color:#352743;
}

#container-texto-and-image-content p{
    max-width: 800px;
    margin: 0px auto 20px auto;
    color: #53427b;
    font-size: 1.2rem;
}

#container-texto-and-image-content h2{
    max-width: 800px;
}

#container-table-of-contents h2 {
    max-width: 860px;
}

.button-blog{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    background-color: #e54646;
    margin-right: 10px;
    margin: 40px auto 0px auto;
    max-width: fit-content;
}

.container-button-content-side-by-side{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
    margin-bottom: 20px;
}

.button-blog-side-by-side{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    background-color: #e54646;
    margin-right: 10px;
    margin: 0px 0px;
    max-width: fit-content;
}

.button-blog-ahref{
    display: contents;
}

.button-blog-ahref:hover>.button-blog, .button-blog-ahref:hover>.button-blog-side-by-side{
    cursor: pointer;
    transform: rotate(5deg);
}

.button-blog>.button-text, .button-blog-side-by-side>.button-text{
    font-size: 1rem;
}

.notice{
    font-size: 0.9rem !important;
    color: var(--grey-color-text) !important;
    text-align: center !important;
    margin-top: 10px !important;
    text-wrap: balance !important;
}