.topico{ /* PROVISÓRIO */
    text-align: center;
}

table{
    width: 100%;
}

.header-single-posts{
    width: 100%;
    background: linear-gradient(180deg, var(--big-header-color) 0%, var(--big-header-color) 80%, var(--single-post-h1-color) 80%, var(--single-post-h1-color) 100%);
    padding-top:15%;
    padding-left: 80px;
    padding-right: 80px;
    hyphens: none;
    text-wrap: balance;
    text-align: center;
}

.header-single-posts h1{
    color: var(--single-post-h1-color);
    margin: 0 0 0.5rem 0;
}

.header-infos-divider-single-post{
    margin-left: 5px;
    margin-right: 5px;
}

.header-infos-single-post h4{
    margin-bottom: 80px;
    color: var(--accent-yellowish);
    text-transform: capitalize;
}

.container-texto-and-image-content{
    margin: auto;
    margin-top: 80px;
}

.container-texto-and-image-content p{
    max-width: 860px;
    margin: auto;
}

.container-iframe-for-content{
    max-width: 900px;
    margin: 2rem auto 2rem auto;   
}

.container-img-centralizada, .container-img-alinhada-esq{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.changeto1rem{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-img-centralizada{
    text-align: center;
    line-height: 0;
}

.container-img-alinhada-esq{
    padding-right: 20px;
    line-height: 0;
    float: left;
    margin-left: 25%;
}

figcaption p{
    margin-top: 5px;
    text-align: center;
    line-height: 1.5;
    color: var(--grey-color-text) !important;
    font-size: 0.9rem;
    font-style: italic;
}

.container-chamada-content{
    max-width: 860px;
    margin: auto;
    font-style: italic;
    text-align: right;
    font-size: 1.25rem;
    line-height: 1.5;
    padding-left: 10%;
}

h2{ /* Tópicos principais do content */
    text-align: left;
    margin: 40px auto 0.75rem auto !important;
    max-width: 860px
}

h3{ /* Subtópicosdo content */
    text-align: left;
    margin: 2rem auto 0.25rem auto !important;
    max-width: 860px
}

.container-notes-on-post{
    max-width: 860px;
    margin: auto;
    font-style: italic;
    text-align: right;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-left: 10%;
    margin: 1rem auto 1rem auto !important;
}

.container-destaques-on-post{
    margin: auto;
    max-width: 860px;
}

.destaques-on-post{
    max-width: 860px;
    padding-left: 25px;
    border-left: var(--accent-blueish) 4px solid;
    margin-left: 40px;
}

.first-words-destaques{
    font-weight: bold;
    color: var(--first-words-color);
    font-size: 1.4rem;
}

.first-letter{
    font-weight: bold;
    color: var(--first-words-color);
    font-size: 3.7rem;
    line-height: 1;
}

/* BG TESTE */
body {
    position: relative;
}
  
.paperOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url("http://s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png");
    mix-blend-mode: darken;
    opacity: 20%;
    pointer-events: none;  
}
/* Table of Contents */
.container-table-of-contents{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-table-of-contents h2{
    color: var(--whitesmoke-color);
    background-color: var(--sumario-top-color);
    margin: 0px auto 0px auto !important;
    padding: 10px 20px;
}

#TableOfContents{
    background-color: #a7a16f;
    max-width: 860px;
    margin: 0 auto 0 auto;;
    line-height: 1.7;
    font-size: 1.2rem;
    color: var(--whitesmoke-color);
}

#TableOfContents ul{
    list-style-type: "-";
    padding-left: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#TableOfContents a{
    color: var(--whitesmoke-color);
    text-decoration: underline;
}

#TableOfContents ul > li > ul{
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.no-table-of-contents{
    height: 50px;
}

/* ESPECIAL HISTORIETAS */
.header-title-single-post-historietas{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    align-items: center;
}

.image-title-historieta img{
    position: absolute;
    transform: translateY(-50%);
}

.header-title-single-post img{
    max-height: 100dvh;
}

.header-historietas-bg img{
    height: 100dvh;
}

.header-single-posts-historietas{
    width: 100%;
    height: 100dvh;
}

.header-infos-single-post-historietas{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
    text-transform: capitalize;
}

/* Enfeites */
.riscado{
    text-decoration: line-through;
}