#container-emailing{
    background-color: var(--accent-blueish);
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    column-gap: 40px;
    align-items: center;
}

#container-newsletterForm{
    display: inline-flex;
    flex-direction: column;
}

#de-eu-para-voce-miolo{/* container do miolo */
    max-width: 900px;
}

#text-chamada-emailing-letter{
    max-width: 700px;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    color: var(--whitesmoke-color);
}

#newsletterForm{
    margin-bottom: 40px;
}

#container-input-emailing-letter{
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
    -webkit-transition: transform 0.2s ease-in-out 0s;
       -moz-transition: transform 0.2s ease-in-out 0s;
         -o-transition: transform 0.2s ease-in-out 0s;
            transition: transform 0.2s ease-in-out 0s;
}

#container-input-emailing-letter input{
    height: 60px;
    background-color: var(--whitesmoke-color);
    border-radius: 30px 0px 0px 30px;
}

.button-inscrever-de-eu-para-voce{
    background-color: var(--accent-avocadish);
    padding: 78px 30px 0px 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-family: system-ui, sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 120px;
    transform: translateY(-50%);
	color: var(--whitesmoke-color);
	-webkit-transition: transform 1s ease 0s ;
	   -moz-transition: transform 1s ease 0s ;
	     -o-transition: transform 1s ease 0s ;
	        transition: transform 1s ease 0s ;
}

.subscribing-emailing-letter{
	background: #682e29;
    width: 100%;
	height: 60px;
    transform: translateX(-100%);
    position: absolute;
	z-index: 5;
	display: inline-block;
	-webkit-transition: transform 2s ease 0s ;
	   -moz-transition: transform 2s ease 0s ;
	     -o-transition: transform 2s ease 0s ;
	        transition: transform 2s ease 0s ;
}

.email-inscrito-msg, .email-fail-inscrito-msg{
    width: 100%;
    height: 60px;
    z-index: 5;
    position: absolute;
    display: inline-flex;
    color: var(--whitesmoke-color);
    align-items: center;
    justify-content: center;
    font-family: "Lora";
    font-weight: 600;
    font-size: 1rem;
    transform: translateY(50px);
	-webkit-transition: transform 0.5s ease 0.25s ;
	   -moz-transition: transform 0.5s ease 0.25s ;
	     -o-transition: transform 0.5s ease 0.25s ;
	        transition: transform 0.5s ease 0.25s ;
}

#text-disclaimer-emailing-letter{
    font-size: 1rem;
    color: var(--whitesmoke-color);
    text-align: center;
}

#container-newsletterForm section{
    margin-top: 50px;
    text-align: center;
}

/* Feedback */
.container-input-emailing-letter-loading {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);
}

.button-inscrever-de-eu-para-voce:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.button-inscrever-de-eu-para-voce-active{
    -webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	     -o-transform: translateY(0%);
	        transform: translateY(0%);
}

.email-inscrito-msg-active, .email-fail-inscrito-msg-active {
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	     -o-transform: translateY(0px);
	        transform: translateY(0px);
}

.email-fail-inscrito-msg a{
    text-decoration: underline;
    color: var(--whitesmoke-color);
}

.email-fail-inscrito-msg a:hover{
    cursor: pointer;
    color: #220907 !important
}