:root{
    --main-bg-color: #F5f5f5; 
    --main-accent: #B3C0F5;
    
    --support-bg-color: #b3c0f5;
    --support-h1-color: #cd3273;
    --support-h3-color: #111844b3;
    --support-p-color: #141414;
    --imortalizados-da-vez: #F79256; 

    --accent-yellowish: #ffdb66;
    --accent-avocadish: #C1B241;
    --accent-blueish: #4199c1;
    --accent-redish: #FFC7AF;

    scroll-behavior: smooth;
    scroll-padding-top: 100px;

    --big-header-color: #2d303f;
    --sumario-top-color: #bcb535;
    --sumario-bottom-color: #a09665;
    --hover-accent: #B3C0F5;

    --blueish-bg-color: #202025fa;

    --single-post-h1-color: #F5f5f5;

    --highlight-color-text: #554c58;
    --dark-color-text: #131313;
    --grey-color-text: #888888e0;
    --first-words-color: #3f1749;

    --accent-color: #682e29;
    
    --pure-white-color: #ffffff;
    --whitesmoke-color: #f5f5f5;

    --text-shadow: #202020;
    --overlay-color: #1118449c;

    --bgblogcolor: #FAF5FF;
}

.noselect{
    user-select: none;
}

.noclick{
    pointer-events: none;
}

main {
    width: 100%;
}

a{
    border: none;
}

a:hover{
    cursor: pointer;
}

body{
    height: 100%;
    width: 100%;
    color: var(--dark-color-text);
}

#main{
    width: 100%;
    background-color: var(--main-bg-color);
}

.main-header-menu-and-logo{
    position: fixed;
    z-index: 25;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 15px;
    left: 15px;
}

#menu-to-navigate{
    right: 2px;
    position: fixed;
}

.menu-special-main{display: none;}
.menu-hamburger{display: none;}

@keyframes smooth-appear {
    from{
        bottom: -100%;
    }
    to{
      bottom: 0;
    }
}

#nav{
    display: none;
    text-align: center;
    background-color: #ffd966;
    /* background-color: var(--accent-yellowish); */
    width: 100%;
    height: 100dvh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: 1s smooth-appear;
    z-index: 10;
}

th{
    display: none;
}

figcaption{
    margin-top: 5px;
}

.nowrap{ /* NO ONE CAN WRAP US */
    white-space: nowrap;
}

/*--------------------NAV MENU INSIDE------------------------*/
#header-navigation-menu{
    display: inline-flex;
    width: 100%;
    padding: 10px 10px;
    justify-content: space-between;
}

#container-all-text-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

.links{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.links img{
    max-width: 100%;
}

.links span:nth-child(1),.links span:nth-child(2){
    scale: 0.85;
}


.links span:nth-child(4),.links span:nth-child(6),.links span:nth-child(7){
    scale: 0.8;
}

.links span:nth-child(5){
    scale: 0.9;
}

/*----------- HOVERS NOS MENUS TD, HAMBURGUER, MENU, TD VADILHO, LINKS MENU GERAL e CLOSE -------------*/
.menu-hamburguer:hover, .menu-text:hover, .links img:hover, .closethings:hover, .first-td:hover, .seccond-td:hover{
    cursor: pointer;
}

    /* parte de cores */
    .closethings:hover, .links img:hover{
        filter:invert(20%) sepia(11%) saturate(2890%) hue-rotate(316deg) brightness(99%) contrast(93%);
    }

    .menu-hamburguer:hover, .menu-text:hover, .first-td:hover, .seccond-td:hover{
        filter: brightness(0) invert(69%) sepia(26%) saturate(804%) hue-rotate(174deg) brightness(101%) contrast(101%);
    }

/*--------------------PAGEs HEADER------------------------*/
.img-page-header{
    max-width: 100%;
}

.container-header-name{
    height: 260px;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-name img{
    max-width: 100%;
}

#blog-header-name img, #contato-header-name img, #livros-header-name img, #loja-header-name img, #galeria-ilustracoes-header-name img, #sobre-header-name img {
    width: 700px;
}

#historietas-header-name img{
    width: 850px;
}

.container-header-text{
    max-width: 860px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    text-wrap: balance;
    padding: 0px 20px 0px 20px;
}

.container-header-text p{
    font-size: 1.15rem;
    hyphens: none !important;
}

#historietas-header-name{
    background-color: #7963a1;
    margin-bottom: 50px;
}

#galeria-ilustracoes-header-name{
    background-color: #c05a3d;
    margin-bottom: 100px;  
}

#blog-header-name{
    background-color: #5958a7;
    margin-bottom: 50px;
}

#sobre-header-name{
    background-color: #8b3932;
    margin-bottom: 100px;
}

#contato-header-name{
    background-color: #af7fd3;
    margin-bottom: 100px;
}

#livros-header-name{
    background-color: #e7b138;
    margin-bottom: 100px;
}

#loja-header-name{
    background-color: #bec03d;
    margin-bottom: 100px;
}

#gearemateriais-header-name{
    background-color: #ffe181;
    margin-bottom: 100px;
}

#contato-header-name img, #loja-header-name img, #livros-header-name img{
    filter: brightness(0) invert(99%) sepia(0%) saturate(4749%) hue-rotate(172deg) brightness(116%) contrast(100%);
}

@media screen and (max-width: 768px) {
    .container-header-name{
        height: 200px;
    }
    .links img{
        max-width: 95%;
    }
}

/* -------------------END OF PAGEs HEADER-------------------------- */

/*--------------------PAGINATOR------------------------*/
#container-paginator{
    margin-top: 20px;
    margin-bottom: 100px;
}
/*--------------------END OF PAGINATOR------------------------*/

/*---------------------- BLOCKQUOTE NO TEXTO ----------------------*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

blockquote {
    margin: 40px auto 0px auto !important;
    max-width: 860px !important;
    position: relative;
    font-family: 'Special Elite', cursive;
    color: #2c1a73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 1.4;
    padding: .5rem 50px;
}

    blockquote:before{
        position: absolute;
        color: #465cd57a;
        font-size: 8rem;
        width: 4rem;
        height: 4rem;
        content: '“';
        left: 2.5rem;
        top: -2rem;
    }

.blockquoteautor{
    text-align: center;
    max-width: 600px !important;
    hyphens: none;
    font-family: 'Special Elite', cursive;
    color: #3f3f5a;
    margin-top: 0 !important;
    line-height: 3;
    font-size: 1.2rem;
    margin-bottom: 30px !important;
}

.container_destaqueTxtBlog{
    border-left: 3px solid #af93c382;
    margin: 0 0 0 5%;
}

.destaqueTxtBlog{
    margin: 0 0 0 2%;
}
/* --------------------- FIM DESTAQUES NO TEXTO ----------------------*/

/*--------------------FEEDBACK BOTAO CARREGANDO--------------------*/
.borderAnim {
    position: relative;
}

.borderAnim:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(120deg, #043a49, #18bfef, #043a49);
    background-size: 300% 300%;
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.borderAnim.in:after {
    animation: frame-enter 2s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
    0% {
        background-position: 15% 0%;
    }
    50% {
        background-position: 85% 100%;
    }
    100% {
        background-position: 15% 0%;
    }
}

@keyframes frame-enter {
    0% {
        clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    25% {
        clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    50% {
        clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%);
    }
    75% {
        -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
    }
    100% {
        -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
    }
} 
/*--------------------FIM FEEDBACK BOTAO CARREGANDO--------------------*/

/*--------------------ESTILIZAÇÃO DA SCROLLBAR--------------------*/
html {
/* Firefox - Hides track and changes thumb color */
    scrollbar-color: hsla(0, 0%, 33%, 0.5);
    background-color: var(--main-bg-color);
}

@media screen and (min-width: 426px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsla(0, 0%, 33%, 0.5);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: hsl(0, 0%, 33%);
    }
    
    ::-webkit-scrollbar-thumb:hover{
        cursor: pointer;
    }
    
}

@media screen and (max-width: 425px) {
    ::-webkit-scrollbar-track-piece:start {
        background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
    }
    
    ::-webkit-scrollbar-track-piece:end {
        background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
    }
}
/*--------------------FIM ESTILIZAÇÃO DA SCROLLBAR--------------------*/

/* -------------Hover em Palavra Link--------------- */
p>a, figcaption>a{
    color:#0000FF;
    text-decoration: underline;
    position: relative;
    display: -webkit-inline-box;
    position: sticky;
}

li>a.span-link{
    text-decoration: underline;
    position: relative;
    display: -webkit-inline-box;
    position: sticky; 
}

p>a::before, figcaption a::before, li>a.span-link::before{
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

p>a:hover::before, figcaption a:hover::before, li>a.span-link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

p>a:hover, figcaption>a:hover, li>a.span-link:hover{
    color: #252121 !important;
}

/* Especial span dos SINGLES (historietas e blog) */
.span-link>a{
    position: sticky;
}

.span-link a::before{
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.span-link>a:hover::before{
    transform: scaleX(1);
    transform-origin: left;       
}

.span-link>a:hover{
    color: #252121 !important;
    cursor: pointer;
}

/* -------------Fim Hover em Palavra Link--------------- */

/* -----------------Double Line Text-------------------- */
#container-double-line{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#container-double-line h1{
    font-size: 3rem;
}

#double-line-seccond-line{
    padding-left: 30px;
}
/* -----------------End Double Line Text------------------- */

/*------------------------ Fadein animation -------------------------*/
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn{
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.fadeInHistorietas{
    animation-duration: 2s;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

.fadeInHistorietasBG{
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
/* ----------------------- End of Fadeinanimation ------------------------*/

/*-------------------- COPIAR URL ------------------*/
.iconeContainerCopyUrl{
    float: left;
    color: white;
    width: 26px;
    height: 26px;
    background-color: #56707D;
    text-align: center;
}

.nomeContainerCopyUrl{
    width: 130px;
    float: right;
    background-color:#607D8B;
    color: white;
    font-family: inherit;
    height: 26px;
    letter-spacing: 1px;
    font-size: small;
    text-align: center;
    margin-bottom: 5px;
}

#urlCopiarNotification{
    opacity: 0;
    position: fixed;
    top: 50px;
    z-index: 25;
    transform: translateY(-100%) translateX(-50%);
    transition: 1s ease;
    left: 50%;
    padding: 9px 20px;
    background: #343a40;
    color: #eeeeee;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: system-ui, sans-serif;
    font-variant: all-petite-caps;
    font-weight: 500;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05); 
}
/*-------------------- END COPIAR URL ------------------*/

/* ------------------- Asssinatura Content -------------- */
.assinatura-content{   
    margin: 40px auto 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.assinatura-content img{
    max-width: 330px;
    padding: 0 20px;
    filter: brightness(0) invert(46%) sepia(85%) saturate(7256%) hue-rotate(240deg) brightness(92%) contrast(95%);
}

/*-----------------Autoria e Referencia-----------------*/
.referenciar{
    font-size: 0.9rem !important;
    line-height: 1.6 !important;
    color: var(--grey-color-text) !important;
    text-align: right !important;
    margin: 0px auto !important;
    text-indent: 0 !important;
}

.linkto_contato{
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--grey-color-text);
}
/*----------------- FIM Autoria e Referencia-----------------*/

/* Realign - arruma a imagem verticalmente quando, no portfólio, só aparece uma imagem */
.realignClass{
    justify-content: center;
}

/*---------ANIM SCROLL IMAGE-------------*/
.not-shown-img-state{
    opacity: 0;
    -moz-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .shown-img-state{
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

/* -----------------text system ui-------------------*/
.text-sysui{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: system-ui;
    text-transform: uppercase;
}

/* -----------------------Comentários-------------------------- */
#just-a-color-for-commentsbg{
    background: #eee;
    padding: 100px 0px;
}

#container-comentarios-section{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 0px 20px;
    background: #eee;
}

#container-comentarios-section h1{
    font-size: 3.5rem;
}

#remark42{
    width: 100%;
}

.comentarios-avisos-container{
    width: 100%;
}

.comentarios-avisos{
    text-align: left;
    font-size: 1rem;
    padding: 0px 20px;
}

@media screen and (max-width: 400px) {
    #container-comentarios-section h1{
        font-size: 2.8rem;
    }
}

/* ---------Breath animation----------- */
.breathing-element{
    -webkit-animation: breathing 10s ease-out infinite normal;
    animation: breathing 10s ease-out infinite normal;
    -webkit-font-smoothing: subpixel-antialiased;
    animation-delay: 1s;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }

  25% {
    -webkit-transform: scale(1.05, 1.05) translateZ(0);
    transform: scale(1.05, 1.05) translateZ(0);
  }

  60% {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1, 1) translateZ(0);
    -ms-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }

  25% {
    -webkit-transform: scale(1.05, 1.05) translateZ(0);
    -ms-transform: scale(1.05, 1.05) translateZ(0);
    transform: scale(1.05, 1.05) translateZ(0);
  }

  60% {
    -webkit-transform: scale(1, 1) translateZ(0);
    -ms-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }

  100% {
    -webkit-transform: scale(1, 1) translateZ(0);
    -ms-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
  }
}