#container-post-all-after-header{
    display: flex;
    justify-content: center;
}

.container-livros-all-content{
    display: flex;
}

.container-livros-all-content:hover{
    cursor: pointer;
}

.container-livro-image img{
    width: 500px;
}

.container-livro-infos-and-buttons{
    display: flex;
    width: 500px;
    background-color: azure;
    padding: 45px 30px;
    flex-direction: column;
}

.container-livro-infos-and-buttons h4{
    font-weight: 400;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
}

.container-livro-infos-and-buttons h5{
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
}