#container-post-all-after-header{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
}

.container-livros-all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.container-livros-all-content:hover{
    cursor: pointer;
}

.container-livros-all-content:hover>.container-livro-image img:nth-of-type(2){
    display: block;
}

.container-livros-all-content:hover>.container-livro-image img:nth-of-type(1){
    display: none;
}

.container-livro-image{
    margin-right: -180px;
}

.container-livro-image img:nth-of-type(2){
    display: none;
}


@media screen and (min-width: 825px){
    .container-livro-image{
        margin-right: -180px;
    }
}

@media screen and (max-width: 824px) and (min-width: 0px){
    .container-livro-image{
        margin-right: -160px;
    }
    .container-livro-infos-and-buttons{
        display: none !important;
    }
    .container-livros-all-content{
        width: 100%;
    }
}

.container-livro-image img{
    width: 500px;
    max-width: 85%;
}

.container-livro-infos-and-buttons{
    display: flex;
    width: 500px;
    padding: 45px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.container-livro-infos-and-buttons h5{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
}

.container-livro-infos-and-buttons img{
    max-width: 95%;
}

.saiba-mais-compre{
    display: inline-flex;
    justify-content: space-around;
    text-decoration: underline;
    width: 100%;
    column-gap: 20px;
}



