#container-post-all-after-header{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
}

.container-livros-all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.container-livros-all-content:hover{
    cursor: pointer;
}

.container-livros-all-content:hover>.container-livro-image img{
    scale: 1.2;
}

.container-livro-image{
    overflow: hidden;
}

.container-livro-image img{
    width: 500px;
    transition: scale 1s ease-in-out;
    max-width: 100%;
}

/* .container-livro-image img:hover{
    cursor: pointer;
    scale: 1.2;
} */

.container-livro-infos-and-buttons{
    display: flex;
    width: 500px;
    background-color: azure;
    padding: 45px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.container-livro-infos-and-buttons h5{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
}

.container-livro-infos-and-buttons img{
    max-width: 95%;
}

.saiba-mais-compre{
    display: inline-flex;
    justify-content: space-around;
    text-decoration: underline;
    width: 100%;
    column-gap: 20px;
}

@media screen and (max-width: 1000px) {
    .container-livro-infos-and-buttons img {
        max-width: 100%;
    }
    .container-livro-infos-and-buttons {
        height: 400px;
    }
}