/* slide */
#loja-promocao{
    position: relative;
    max-width: 1000px;
    margin: 80px auto 40px auto;
}

#container-text-promocao{
    position: absolute;
	top: 0;
	right: 20px;
	width: 80%;
	height: 100%;
	padding: 2rem 0 0 2rem;
	text-align: right;
    z-index: 5;
    pointer-events: none;
    padding: 0px;
}

#container-text-promocao h2{
    font-size: 3.5rem;
    line-height: 1;
    margin: 0 !important;
}

#dataFinal{
    font-size: 2.5rem;
    line-height: 1.2;
}

/* dps do slide */
.container-header-text p{
    hyphens: none !important;
}

#loja-no-promocao{
    display: inline-flex;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    padding: 0 20px 0 20px;
}

.container-clicavel-and-title{
    padding: 10px;
    background-color: white;
    position: relative;
    max-width: 450px;
    max-height: 450px;
}

.container-clicavel-and-title:hover{
    cursor: pointer;
}

.clicavel-lojas{
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.clicavel-lojas img{
    transition: all 1s ease-in-out;
    width: 100%;
}

.container-clicavel-and-title:hover > .clicavel-lojas img{
    scale: 1.2;
}

.title-tipo-product{
    letter-spacing: 1px;
    font-family: system-ui, sans-serif;
    font-variant: all-petite-caps;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--imortalizados-da-vez);
    background-color: #1c1c1c;
    padding: 10px 15px;
    width: fit-content;
    height: 40px;
    position: absolute;
    bottom: 40px;
    left: -5px;
}

.title-tipo-product span{
    transform: translateY(-50%);
    top: -100%;
    position: relative;
}

@media screen and (max-width: 680px) and (min-width: 473px){
    #dataFinal {
        font-size: 2rem;
    }
}

@media screen and (max-width: 472px) {
    #container-text-promocao h2{
        font-size: 2.2rem;
    }
    #dataFinal {
        font-size: 1.4rem;
    }
}