.container-header-text{
    margin: 80px auto 40px;
}

#portfolio-header-name{
    padding: 70px 30px;
    background-color: #c05a3d;
    height: unset;
}

#portfolio-header-name img{
    filter: brightness(0) invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(100%) contrast(104%);
}

.container-header-name{
    flex-direction: column;
}

.container-header-name img{
    width: 100%;
    max-width: 650px;
}

#container-sobre{
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}

#container-sobre img{
    max-width: 95%;
    margin-bottom: 30px;
}

#container-sobre p{
    max-width: 800px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#container-sobre p:nth-child(3){
    text-align: center !important;
    margin: 15px 0px 35px !important;
    color: #611ba1;
    font-weight: 500;
    padding: 0px 60px !important;
}

#container-sobre p:first-of-type{
    margin-top: 20px;
}

#container-sobre p:last-of-type{
    margin-bottom: 0px;
}

#container-sobre p:nth-child(5),#container-sobre p:nth-child(7){
    color: #C05A3D;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    font-size: 1.5rem;
}

#container-sobre, #contato-form-container{
    display: none;
    margin-top: 80px;
}

#container-portfolio-navigation-and-languages{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-navigation, #container-language{
    display: inline-flex;
    flex-wrap: nowrap;
    column-gap: 30px;
}

#just-a-divisor{
    margin: 0px 30px;
}

.menu-language{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: system-ui;
    text-transform: uppercase;
    color: #ffffff;
}

#go-to-portfolio,
#go-to-sobre,
#go-to-contact
{
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
    backface-visibility: hidden;
    filter: blur(0);
    transition: 0.4s ease-in-out;
}

.active-menu{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #343740;
    text-underline-offset: 5px;

}

#go-to-portfolio:hover,
#go-to-sobre:hover,
#go-to-contact:hover{
    transform: scale(1.1) ;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    filter: blur(0);
}

/* Change language */
.button-language:hover{
    color: #ffffff !important;
}

:root {
    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
  }
  
    .button-language{
        background: #343740;
        padding: 5px 8px;
        border-radius: 5px;
        color: #f5f5f5;
    }

    a.button:active {
        filter: brightness(75%);
    }
    
    /* Dropdown styles */
    .dropdown {
        position: relative;
        padding: 0;
        /* margin-right: 1em; */
        border: none;
    }
    
    .dropdown summary {
        list-style: none;
        list-style-type: none;
    }
    
    .dropdown > summary::-webkit-details-marker {
        display: none;
    }
    
    .dropdown summary:focus {
        outline: none;
    }
    
    .dropdown summary:focus a.button {
        border: 2px solid white;
    }
    
    .dropdown summary:focus {
        outline: none;
    }
    
    .dropdown ul {
        position: absolute;
        margin: 12px 0 0 0;
        padding: 5px 0;
        width: 80px;
        left: 50%;
        margin-left: calc((80px / 2)* -1);
        box-sizing: border-box;
        z-index: 2;
        background: var(--dropdown-background);
        border-radius: 6px;
        list-style: none;
    }
    
    .dropdown ul li {
        padding: 0;
        margin: 0;
    }
    
    .dropdown ul li a:link, .dropdown ul li a:visited {
        display: inline-block;
        padding: 10px 0.8rem;
        width: 100%;
        box-sizing: border-box;
        
        color: var(--dropdown-color);
        text-decoration: none;
    }
    
    .dropdown ul li a{
        width: 100%;
        display: block;
        color: #193e4f;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: system-ui;
        text-transform: uppercase;
    }

    .dropdown ul li a:hover {
        background-color: var(--dropdown-highlight);
        color: var(--dropdown-background);
    }
    
    /* Dropdown triangle */
    .dropdown ul::before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent var(--dropdown-background) transparent;
    }
    
    
    /* Close the dropdown with outside clicks */
    .dropdown > summary::before {
        display: none;
    }
    
    .dropdown[open] > summary::before {
        content: ' ';
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
/* Fim change language */

#container-all-rodape{
    background: #c05a3d;
}

.container-partes-rodape, #container-all-rodape a{
    color: var(--whitesmoke-color) !important;
}

#organizer-galeria-ilustracoes{
    margin: 0px auto 100px auto;
}

@media screen and (max-width: 550px) and (min-width: 488px) {
    #portfolio-header-name{
        padding: 50px 20px;
    }
    #container-navigation, #container-language{
        column-gap: 20px;
    }
    
    #just-a-divisor{
        margin: 0px 20px;
    }
    
    .menu-language{
        font-size: 1rem;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 487px) and (min-width: 380px) {
    #portfolio-header-name{
        padding: 50px 10px;
    }
    #container-navigation, #container-language{
        column-gap: 10px;
    }
    
    #just-a-divisor{
        margin: 0px 10px;
    }
    
    .menu-language{
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 379px) {
    #portfolio-header-name{
        padding: 50px 10px;
    }
    #container-navigation, #container-language{
        column-gap: 10px;
    }
    
    #just-a-divisor{
        margin: 0px 10px;
    }
    
    .menu-language{
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
}