#container-all-rodape{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: system-ui, sans-serif;
    font-variant: all-petite-caps;
    font-weight: 500;
    line-height: 1;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: var(--dark-color-text);
    justify-content: space-around;
    align-items: center;
}

.container-partes-rodape{
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#container-all-rodape a{
    color: var(--dark-color-text);
}

@media screen and (max-width:683px) {
    .container-partes-rodape{
        margin-top: 20px
    }
}