/* ENCERRAMENTO */    
#suporteoblog{
    border-width: thin;
    text-align: center;
    background-color: var(--support-bg-color);
    padding: 120px 30px 90px 30px;
    margin-top: 100px;
}

#suporteashistorietas{
    border-width: thin;
    text-align: center;
    background-color: var(--support-bg-color);
    padding: 120px 14px 90px 14px;
}

#suporteoblog h1, #suporteashistorietas h1{
    margin-top: 0 !important;
    color: var(--support-h1-color);
    margin-bottom: 25px !important;
}

#suporteoblog p, #suporteashistorietas p{
    font-size: 1.15rem;
}

.container-apoio h3{
    color: var(--support-h3-color);
}

.container-imortalizados-da-vez{
    margin:auto;
    max-width: 1000px;
    text-align: center;
}

.container-imortalizados-da-vez p{
    hyphens: none !important;
    padding: 0px 15px;
}

.imortalizados{
    text-decoration: underline;
}

#toCloseImortalizados{
    position: absolute;
    top: 5px;
    right: 5px;
}

#toCloseImortalizados img{
    filter: invert(99%) sepia(0%) saturate(27%) hue-rotate(136deg) brightness(114%) contrast(92%);
}

#toCloseImortalizados img:hover{
    filter: invert(20%) sepia(11%) saturate(2890%) hue-rotate(316deg) brightness(99%) contrast(93%);
}

#toCloseImortalizados:hover{
    cursor: pointer;
}

.nomes-imortalizados{
    max-width: 100%;
    position: relative;
}

#container-modos-de-apoiar{
    margin-top: 40px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.container-apoio{
    max-width: 400px;
    margin-bottom: 30px;
}

.container-apoio h3{
    text-align: center;
}

.container-apoio p{
    hyphens: none !important;
}

#container-contribuicaodireta-buttons, #container-contribuicaoindireta-buttons{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 12px;
}

#snackbar-imortalizados-da-vez{
    display: none;
    position: fixed;
    max-width: 800px;
    bottom: 40px;
    background: var(--big-header-color);
    color: var(--whitesmoke-color);
    border: 10px solid;
    transform: translateX(-50%);
    left: 50%;
    z-index: 20;
    padding: 30px;
    width: 90%;
    max-width: 900px;

}

#snackbar-imortalizados-da-vez p{
    text-align: left;
    margin-bottom: 20px;
}

/* direta */
.button-contribuicao-direta{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    transition: transform .2s ease;
}

.button-contribuicao-direta:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

.button-contribuicao-direta:nth-child(1){
    background-color:#007566;
    margin-right: 10px;
}

.fa-pix, .pix{
    color: f5f5f5;
}

.button-contribuicao-direta:nth-child(2){
    background-color: #dd7052;
    margin-right: 10px;
}

.fa-store, .store{
    color: #f5f5f5;
}

/* indiretamente */
.button-linkafiliado{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    transition: transform .2s ease;
}

.button-linkafiliado:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

.button-linkafiliado:nth-child(1){
    background-color: #3b3b3b;
    margin-right: 10px;
}

.amazon{
    color: #f5f5f5;
}

.button-linkafiliado:nth-child(2){
    background-color: #4B83F9;
}

.magalu{
    color: #f5f5f5;
}

/* sem custo */
.button-compartilhar-post{
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #1e355f;
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    transition: transform .2s ease;
}

.button-compartilhar-container{
    padding: 8px;
    line-height: normal;
}

.button-compartilhar-post:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

/* text inside button */
.button-text{
    font-family: system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.075em;
    padding: 0px 0px 0px 4px;
    filter: blur(0);
}

.fa-link, .compartilhar{
    color: #f5f5f5;
}

@media  screen and (max-width:700px) {
    #suporteoblog h1, #suporteashistorietas h1{
        font-size: 3rem;
    }
}