/* ENCERRAMENTO */    
#suporteoblog{
    border-width: thin;
    text-align: center;
    background-color: var(--support-bg-color);
    padding: 120px 30px 90px 30px;
    margin-top: 100px;
}

#suporteashistorietas{
    border-width: thin;
    text-align: center;
    background-color: var(--support-bg-color);
    padding: 120px 30px 90px 30px;
}

#suporteoblog h1, #suporteashistorietas h1{
    margin-top: 0 !important;
    color: var(--support-h1-color);
    margin-bottom: 25px !important;
}

.container-apoio h3{
    color: var(--support-h3-color);
}

.container-imortalizados-da-vez{
    margin:auto;
    max-width: 900px;
    hyphens: none !important;
    text-align: center;
}

.nomes-imortalizados{
    position: relative;
    top: 13px;
    height: 2.5rem;
    margin-top: -17px;
}

#container-modos-de-apoiar{
    margin-top: 40px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.container-apoio{
    max-width: 400px;
    margin-bottom: 30px;
}

.container-apoio h3{
    text-align: center;
}

.container-apoio p{
    hyphens: none !important;
}

#container-contribuicaodireta-buttons, #container-contribuicaoindireta-buttons{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 12px;
}

/* direta */
.button-contribuicao-direta{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    transition: transform .2s ease;
}

.button-contribuicao-direta:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

.button-contribuicao-direta:nth-child(1){
    background-color: var(--accent-yellowish);
    margin-right: 10px;
}

.button-contribuicao-direta:nth-child(2){
    background-color: var(--accent-redish);
    margin-right: 10px;
}

.button-contribuicao-direta:nth-child(3){
    background-color: var(--accent-avocadish);
}

/* indiretamente */
.button-linkafiliado{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    line-height: normal;
    transition: transform .2s ease;
}

.button-linkafiliado:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

.button-linkafiliado:nth-child(1){
    background-color: var(--accent-yellowish);
    margin-right: 10px;
}

.button-linkafiliado:nth-child(2){
    background-color: var(--accent-redish);
}


/* sem custo */
.button-compartilhar-post{
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: var(--accent-yellowish);
    width: fit-content;
    margin: auto;
    margin-top: 12px;
    transition: transform .2s ease;
}

.button-compartilhar-container{
    padding: 8px;
    line-height: normal;
}

.button-compartilhar-post:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease;
}

/* text inside button */
.button-text{
    color: rgb(26, 25, 25);
    font-family: system-ui, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075em;
    padding: 0px 0px 0px 4px;
}

@media  screen and (max-width:700px) {
    #suporteoblog h1, #suporteashistorietas h1{
        font-size: 3rem;
    }
}