{{- partial "htmlhead" . -}}

	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">
			{{- partial "intro.html" . -}}

            {{- partial "header" . -}}
            {{- partial "nav" . }}

            <!-- Main --> 
            <div id="main">
                <div id="lancamento" 
                     displaylancamento="{{ .Params.Displaylancamento }}"
                >
                        <img src="{{ .Params.Lancamentoimagem1 }}" class="imglancamento1">
                        <img src="{{ .Params.Lancamentoimagem2 }}" class="imglancamento2">
                        <img src="{{ .Params.Lancamentoimagem3 }}" class="imglancamento3">
                        <img src="{{ .Params.Lancamentoimagem4 }}" class="imglancamento4">            
                </div>

                <div id="novidades">
                    <div id = "ultimanovidade">
                        <img src="{{ .Params.imgUltNovidade}}" class="imagemUltNovidade">
                        <p class="chamadaUltNovidade"> {{ .Params.chamadaUltNovidade }}</p>
                        <p class="textoUltNovidade"> {{ .Params.TxtUltNovidade }}</p>
                    </div>
                    <div id = "demaisnovidades">
                        <div id="demais1">
                            <img src="{{ .Params.imgDemNovidade1}}" class="imgDemNovidade1">
                            <p class="chamadaDemNovidade1"> {{ .Params.chamadaUltNovidade }}</p>
                            <p class="txtDemNovidade1"> {{ .Params.TxtUltNovidade }}</p>
                        </div>
                        <div id="demais2">
                            <img src="{{ .Params.imgDemNovidade2}}" class="imgDemNovidade2">
                            <p class="chamadaDemNovidade2"> {{ .Params.chamadaUltNovidade }}</p>
                            <p class="txtDemNovidade2"> {{ .Params.TxtUltNovidade }}</p>
                        </div>
                    </div>
                </div>

                
                <div id="newsletter">
                    <form id="newsletterForm" method="post" action="{{ . }}">
                        <p class="chamada">Se inscreva na newsletter para ficar por dentro das novidades relevantes</p>
                        <div class="fields">
                            <label for="nomenewsl">Nome*</label>
                            <input type="text" name="nome" id="nomenewsl" required/>
                        </div>
                        <div class="fields">
                            <label for="emailnewsl">Email*</label>
                            <input type="email" name="mailnewsl" id="emailnewsl"/>
                        </div>

                        <ul class="actions">
                            <li id="li_btn_inscrever"><input type="submit" id="btn_inscrever" value="Inscrever"/></li>
                        </ul>
                    </form>
                    <p class="aviso">Não se preocupe, sua privacidade será respeitada e a qualquer momento você poderá cancelar a inscrição.</p>
                </div>
            </div>

            {{- partial "footer/index" . }}

           

            <div id="Snackbar" onclick="closeSnackbar()">
                <div id="SnackbarText1"></div>
                <div id="SnackbarText2"></div>
                <a id="close">x</a>
            </div>  

            {{- partial "copyright" . }}
            <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
        </div>
  
        {{- template "_internal/google_analytics.html" . }}
        {{- partial "scripts/index" . }}
        
    </body>

<style>
    #li_btn_inscrever {
        padding: 0 !important;
    }

    #main > *{
        border-top:none;
    }

    #lancamento{
        padding: 0;
        margin: 0;
    }

    .imglancamento1{
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
    }

    .imglancamento2{
        display:none;
    }

    .imglancamento3{
        display:none;
    }

    .imglancamento4{
        display:none;
    }

    .noDisplay{
        display: none;
    }

    #ultimanovidade {
        background-color: bisque;
    }

    @media screen and (min-width: 1032px){
        .imglancamento2, .imglancamento3, .imglancamento4{
            display:none;
        }

        .imglancamento1{
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 1032px) and (min-width: 851px){
        .imglancamento1, .imglancamento3, .imglancamento4{
            display:none;
        }

        .imglancamento2{
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 851px) and (min-width: 684px){
        .imglancamento1, .imglancamento2, .imglancamento4{
            display:none;
        }

        .imglancamento3{
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 684px){
        .imglancamento1, .imglancamento2, .imglancamento3{
            display:none;
        }

        .imglancamento4{
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        } 
    }

    #Snackbar {
        visibility: hidden;
        text-align: left;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        position: fixed;
        bottom: 30px;
        background-color: rgba(255, 255, 255, 0.875);
        box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
        color: #212931;
        transform: translate(-50%,0);
        left: 50%;
        z-index: 7;
    }

    #Snackbar.showSucess {
        visibility: visible;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
        border-left: 10px solid #36a34c;
    }

    #Snackbar.showFail {
        visibility: visible;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
        border-left: 10px solid #a33636;
    }

    #SnackbarText1{
        color: #101020;
        font-weight: 600;
        font-size: 18px;
    }

    #SnackbarText2{
        margin-top: -12px;
        font-size: 15px;
        color: #656565;
        font-weight: 400;
    }

    #Snackbar a{
        position: absolute;
        right: 5px;
        top:  5px;
        padding-right: 10px;
        padding-top: 10px;
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
        color: #656565;
        border: none;
    }

    #Snackbar:hover{
        cursor: pointer;
    }

    #Snackbar:hover a{
        cursor: pointer;
        color: #18bfef;
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }


/* The animation starts here */
    .borderAnim {
        position: relative;
    }

    .borderAnim:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(120deg, #043a49, #18bfef, #043a49);
        background-size: 300% 300%;
        clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    .borderAnim.in:after {
        animation: frame-enter 2s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
    }

    /* motion */
    @keyframes gradient-animation {
        0% {
            background-position: 15% 0%;
        }
        50% {
            background-position: 85% 100%;
        }
        100% {
            background-position: 15% 0%;
        }
    }

    @keyframes frame-enter {
        0% {
            clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        25% {
            clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        50% {
            clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%);
        }
        75% {
            -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
        }
        100% {
            -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
        }
    }

</style>

<script>
/* NEWSLETTER */
var form = document.getElementById("Snackbar");

    document.getElementById('newsletterForm').addEventListener("submit", (e) => {		
        e.preventDefault()

        document.getElementById('btn_inscrever').setAttribute('disabled', 'a')
        document.getElementById('li_btn_inscrever').classList.add('borderAnim', 'in')
    
        data = {
            'mail': document.getElementById('emailnewsl').value,
            'nome': document.getElementById('nomenewsl').value,
            'assunto': '[Newsletter] Signup'
        }
        
        url = 'http://thiago.oioipio.com/contato'

        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(result => {
            document.getElementById('btn_inscrever').removeAttribute('disabled')
            document.getElementById('li_btn_inscrever').classList.remove('borderAnim', 'in')

            formularioEnviado()
        }).catch(error => {
            document.getElementById('btn_inscrever').removeAttribute('disabled')
            document.getElementById('li_btn_inscrever').classList.remove('borderAnim', 'in')

            formularioNaoEnviado()
        })
    })

    let formularioEnviado = function(){
        form.className = "showSucess";     
        document.getElementById('SnackbarText1').innerHTML = "Inscrição realizada"
        document.getElementById('SnackbarText2').innerHTML = "Muito obrigado por seu interesse pelo meu trabalho!"
        setTimeout(function(){ 
            form.className = form.className.replace("showSucess", "");   
            resetForm();
        }, 8000);
    }

    let formularioNaoEnviado = function(){
        form.className = "showFail";
        document.getElementById('SnackbarText1').innerHTML = "Falha no servidor"
        document.getElementById('SnackbarText2').innerHTML = "Desculpe pelo erro. Por favor, tente novamente em alguns instantes"
        setTimeout(function(){ 
            form.className = form.className.replace("showFail", ""); 
        }, 8000);
    }

    function closeSnackbar(){
        if(form.classList.contains("showSucess")){
            resetForm();
            form.className = form.classList.remove("showSucess")
        }else{
            form.className = form.classList.remove("showFail")    
        }
    }

    let resetForm = function(){
      let resetNewsForm = document.getElementById('newsletterForm')
      resetNewsForm.reset()
      let resetContatoForm = document.getElementById('contato')
      resetContatoForm.reset()
    }

/* CONFERE LANÇAMENTO */

    let confereLancamento = function (){
        let lancamento = document.getElementById('lancamento')
        let displaylancamento = lancamento.getAttribute('displaylancamento')

        if (displaylancamento == "nao"){
            lancamento.classList.add('noDisplay')
        }else{
            lancamento.classList.remove('noDisplay')
        }
    }

    document.addEventListener("DOMContentLoaded", (event) => { 
        confereLancamento();
    });
</script>