<link rel="stylesheet" type="text/css" href="/assets/css/geral.css"> <!-- Chamando CSS geral -->
<link rel="stylesheet" type="text/css" href="/assets/css/home.css"> <!-- Chamando CSS geral -->

{{- partial "htmlhead" . -}}<!-- puxando as metatags -->
{{- partial "navigationlinks" . -}}<!-- puxando os menus -->

<body>
    <!-- Main --> 
    <div id="main">
        {{- partial "pageHeaderMenuAndLogo" . -}}
        <div id="container-home">
            <div id="container-home-topo-items">
                <div id="organizer-container-text-items">
                    <a href="https://www.tdvadilho.com/sobre/"><h1>TD Vadilho</h1></a>
                    <p class = "intro-paragraph">
                        Escritor-ilustrador ou ilustrador-escritor. Depende de como você olhar.
                    </p>
                    <p class = "intro-paragraph">
                        Para simplificar, <i>criador e contador de histórias</i>. Alguém que só quer ser criativo. Alguém que só quer escrever e ilustrar.
                    </p>
                    <p class = "intro-paragraph">
                        Eu acredito na capacidade emocional e transformativa das histórias criativas, e é por isso que coloco no mundo <a onclick="opennavigationmenu()">aquilo que gostaria de encontrar</a>.
                    </p>
                </div>
                <div id="bghome">
                </div>
            </div>

            <div id="container-home-topo-items-sub"></div>
        
            <div id="container-home-bottom-items">
                {{ range where .Site.RegularPages "Params.Lastpost1" true }}
                    {{ if eq .Params.Lastpost1type "galeria"}}
                        <div id="item-bottom-esq" onclick="window.location.href='galeriailustracoes/?id={{ .Params.Projectid | safeURL }}'">
                            <div class="novidade-notice">
                                <span>Novidade</span></div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{ .Params.Lastpost1type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-1" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ else }}
                        <div id="item-bottom-esq" onclick="window.location.href='/blog/matutando/sobre-como-ler-mais-e-yata-yata-yata/'">
                            <div class="novidade-notice">
                                <span>Novidade</span></div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{ .Params.Lastpost1type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-1" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ end }}
                {{ end }}

                {{ range where .Site.RegularPages "Params.Lastpost2" true }}
                    {{ if eq .Params.Lastpost2type "galeria"}}
                        <div id="item-bottom-center" onclick="window.location.href='galeriailustracoes/?id={{ .Params.Projectid | safeURL }}'">
                            <div class="novidade-notice">Novidade</div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{  .Params.Lastpost2type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-2" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ else }}
                        <div id="item-bottom-center" onclick="window.location.href='{{ .RelPermalink | safeURL }}'">
                            <div class="novidade-notice">Novidade</div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{  .Params.Lastpost2type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-2" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ end }}
                {{ end }}

                {{ range where .Site.RegularPages "Params.Lastpost3" true }}
                    {{ if eq .Params.Lastpost3type "galeria"}}
                        <div id="item-bottom-dir" onclick="window.location.href='galeriailustracoes/?id={{ .Params.Projectid | safeURL }}'">
                            <div class="novidade-notice">Novidade</div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{  .Params.Lastpost3type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-3" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ else }}
                        <div id="item-bottom-dir" onclick="window.location.href='/historietas/historieta8/'">
                            <div class="novidade-notice">Novidade</div>
                            <div class="overlay-home-news"></div>
                            <div class="organizer-home-news-text">
                                <p class="home-news-type">{{  .Params.Lastpost3type }}</p>
                                <h2 class="home-news-title">{{ .Params.Title }}</h2>
                            </div>
                            <img id="home-novidade-3" src="{{  .Params.Imageheader }}" alt="{{  .Params.Imageheaderalt }}" style="padding-top: {{ .Params.Paddingtop | safeCSS }}">
                        </div>
                    {{ end }}
                {{ end }}
            </div>   
        </div>
    </div>
    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}
    {{- partial "meusscripts" . -}}
    <script defer data-host="https://cusdis.com" data-app-id="b935f701-f887-42b4-96cf-1852bf2005b2" src="https://cusdis.com/js/cusdis-count.umd.js"></script>
</body>
