<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}

<footer id="footer">
    {{ with $data.contactinfo.contactformaction }}
    <section>
        <form id="contato" method="post">
            <div class="fields">
                <div class="field">
                    <label for="name">{{ i18n "CONTACT_FORM_FIELD_NAME" . }}</label>
                    <input type="text" name="nome" id="name" autocomplete="given-name" required/>
                </div>
                <div class="field">
                    <label for="email">{{ i18n "CONTACT_FORM_FIELD_EMAIL" . }}</label>
                    <input type="email" name="mail" autocomplete="email" id="email" required/>
                </div>
                <div class="field">
                    <label for="assunto">{{ i18n "CONTACT_FORM_FIELD_ASSUNTO" . }}</label>
                    <select id="assunto" name="assunto" required>
                        <option value="Gostaria de te contratar">Gostaria de te contratar</option>
                        <option value="Vamos fazer uma parceria?">Vamos fazer uma parceria?</option>
                        <option value="Um convite para você">Um convite para você</option>
                        <option value="Só queria falar que...">Só queria falar que...</option>
                        <option value="Tenho uma sugestão">Tenho uma sugestão</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div class="field">
                    <label for="message">{{ i18n "CONTACT_FORM_FIELD_MESSAGE" . }}</label>
                    <textarea name="mensagem" id="message" rows="3" required></textarea>
                </div>
            </div>
         
            <ul class="actions">
                <li id="li_btn_contato">
                <input type="submit" id="btn_enviar" value='{{ i18n "CONTACT_FORM_SUBMIT_SEND_MESSAGE" . }}'/>
                </li>
            </ul>
           
        </form>

        <div id = "SnackbarFAQ">
            <a id="close" onclick="closeSnackbarFAQ()">x</a>
            <p> Área ainda em construção. Peço que tenha paciência. </p> 
            <p> Além disso, por favor, não hesite em me mandar perguntas por meio do formulário ou email para que eu
            possa construir uma área de FAQ de real relevância.</p>
            <p> Obrigado! </p>
        </div>
    </section>
    {{ end }}

    <section class="split contact">
        {{ with $data.contactinfo.email }}
        <section id="splitcontact">
            <h6><span class="underline-servicos">Serviços</span></h6>
            <div id="container-servicos">
                <ul class="icons alt servicos">
                    <li><a href="mailto:{{ . }}" class="icon alt fa-paint-brush"><span class="label">ilustracao-design</span><p class="text-icons-servicos">Ilustração e Design</p></a></li>
                    <li><a href="mailto:{{ . }}" class="icon alt fa-search"><span class="label">leitura-critica</span><p class="text-icons-servicos">Leitura Crítica</p></a></li>
                    <li><a href="mailto:{{ . }}" class="icon alt fa-align-justify"><span class="label">criacao-de-texto</span><p class="text-icons-servicos">Criação de Texto</p></a></li>
                </ul>
                <a href="mailto:{{ . }}">
                    <p><span class="servicos-status">Agenda aberta</span> para projetos. Por favor, sinta-se livre para me contar sobre a sua ideia 😊</p>
                </a>
            </div>
        </section>

        {{ end }}

        <section id="splitcontact">
            <h6>FAQ</h6>
            <a onclick="openFAQ(event)"><p>Possui alguma dúvida? Acesse o FAQ para simplificar o processo da nossa comunicação</p></a>
        </section>

        {{ with $data.contactinfo.email }}
        <section id="splitcontact">
            <h6>{{ i18n "CONTACT_EMAIL" . }}</h6>
            <a href="mailto:{{ . }}"><p>{{ . }}</p></a>
        </section>
        {{ end }}

        {{ with $data.social }}
        <section>
            <h6>{{ i18n "CONTACT_SOCIAL" . }}</h6>
            <ul class="icons alt">
                {{ with .instagram}}
                    <li><a href="{{ . }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                {{ end }}

                {{ with .facebook}}
                    <li><a href="{{ . }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                {{ end }}

                {{ with .twitter}}
                    <li><a href="{{ . }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                {{ end }}

                {{ with .youtube }}
                    <li><a href="{{ . }}" class="icon alt fa-youtube-play" target="_blank"><span class="label">Youtube</span></a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
        
    </section>
</footer>

<style>
    a{
        border: none;
    }
    
    #li_btn_contato {
        padding: 0;
    }

    #footer > section.split > section:first-child{
        text-justify: justify;
        word-break: break-word;
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        text-rendering: optimizeLegibility;
    }

    #footer > section.split.contact > section > :last-child:hover{
        cursor: pointer;
    }

    ul.icons li:last-child {
        padding: 0 0.5rem 0 0;
    }

    ul.icons li:first-child{
        margin-left: 7px;
    }

    .underline-servicos{
        border-bottom: 2px solid #299928;
        border-width: medium;
    }

    #container-servicos p{
        font-family: 'Helvetica';
        font-weight: 500;
        color: #717981;
    }

    #footer a:hover > .text-icons-servicos {
        color: #18bfef !important;
        transform: .2s;
    }

    .icons.alt.servicos{
        margin: 0 0 1rem 0;
    }

    .icons.alt.servicos>li{
        text-align: center;
        height: 75px;
        padding: 0 1rem 0 0;
    }
    
    .servicos-status{
        font-weight: bold;
    }
    
    .text-icons-servicos{
        text-align: center;
        line-height: 1.2;
        font-size: 0.7rem !important;
        text-wrap: balance;
        margin-top: 2px;
        font-weight: bold !important;
        width: 52px;
    }

    #SnackbarFAQ {
        display: none;
        text-align: left;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        position: fixed;
        bottom: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 100vw 100vw 100vw rgba(30, 37, 45, 0.623);
        color: #212931;
        transform: translate(-50%,0);
        left: 50%;
        z-index: 7;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    #SnackbarFAQ p{
        color: #101020;
        font-weight: 500;
        font-size: 15px;
        font-family: helvetica;
        line-height: normal;
        margin-bottom: 18px;
    }

    #close:hover{
        cursor: pointer;
    }

    #close{
        padding-top: 10px;
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
        color: #656565;
        border: none;
        font-family: helvetica;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    

/* REGRAS DE MEDIA */   
    @media screen and (min-width: 981px){
        #message{
            width: 470px;
            resize: vertical;
        }
    }

    @media screen and (max-width: 980px){
        #footer > section.split > section:first-child {
            padding: 5rem 4rem 1rem 4rem;
            border-top: solid 2px #e2e2e2;
        }
    }

    @media screen and (max-width: 736px){
        #footer > section.split.contact > section:first-child {
            padding: 2rem !important;
        }
    }
</style>

<script>
    document.getElementById('contato').addEventListener("submit", (e) => {
        e.preventDefault();

        document.getElementById('btn_enviar').setAttribute('disabled', 'a');
        document.getElementById('li_btn_contato').classList.add('borderAnim', 'in');
        
    
        data = Object.fromEntries(new FormData(e.target).entries());
        url = 'https://thiago.oioipio.com/contato';
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(result => {
            document.getElementById('btn_enviar').removeAttribute('disabled');
            document.getElementById('li_btn_contato').classList.remove('borderAnim', 'in');
            
            emailenviado();
        }).catch(error => {
            document.getElementById('btn_enviar').removeAttribute('disabled');
            document.getElementById('li_btn_contato').classList.remove('borderAnim', 'in');
            
            emailnaoenviado();
        })
    })

    let emailenviado = function(){
        var form = document.getElementById("Snackbar");
        
        form.className = "showSucess";

        document.getElementById('SnackbarText1').innerHTML = "Mensagem enviada"
        document.getElementById('SnackbarText2').innerHTML = "Entrarei em contato assim que possível"
        
        setTimeout(function(){ 
            form.className = form.className.replace("showSucess", "");   
            resetForm();
        }, 8000);

        window.history.pushState('', '', '#form-enviado');
    }

    let emailnaoenviado = function(){
        let emailenviado = document.getElementById('emailenviado');
        let form = document.getElementById("Snackbar");

        emailenviado.innerHTML = "Infelizmente o email não pode ser enviado. Por favor, tente novamente em alguns instantes";
        form.className = "showFail";
       
        document.getElementById('SnackbarText1').innerHTML = "Falha no servidor";
        document.getElementById('SnackbarText2').innerHTML = "Desculpe, infelizmente o email não pode ser enviado. Por favor, tente novamente em alguns instantes";
        
        setTimeout(function(){ 
            form.className = form.className.replace("showFail", "");   
        }, 8000);
    }

</script>