<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}

<footer id="footer">
    {{ with $data.contactinfo.contactformaction }}
    <section>
        <form id="contato" method="post">
            <div class="fields">
                <div class="field">
                    <label for="name">{{ i18n "CONTACT_FORM_FIELD_NAME" . }}</label>
                    <input type="text" name="nome" id="name" autocomplete="given-name" required/>
                </div>
                <div class="field">
                    <label for="email">{{ i18n "CONTACT_FORM_FIELD_EMAIL" . }}</label>
                    <input type="email" name="mail" autocomplete="email" id="email" required/>
                </div>
                <div class="field">
                    <label for="assunto">{{ i18n "CONTACT_FORM_FIELD_ASSUNTO" . }}</label>
                    <select id="assunto" name="assunto" required>
                        <option value="Gostaria de te contratar">Gostaria de te contratar</option>
                        <option value="Vamos fazer uma parceria?">Vamos fazer uma parceria?</option>
                        <option value="Um convite para você">Um convite para você</option>
                        <option value="Só queria falar que...">Só queria falar que...</option>
                        <option value="Tenho uma sugestão">Tenho uma sugestão</option>
                        <option value="Outro">Outro</option>
                    </select>
                    
                </div>
                <div class="field">
                    <label for="message">{{ i18n "CONTACT_FORM_FIELD_MESSAGE" . }}</label>
                    <textarea name="mensagem" id="message" rows="3" required></textarea>
                </div>
            </div>
         
            <ul class="actions">
                <li id="li_btn_contato">
                <input type="submit" id="btn_enviar" value='{{ i18n "CONTACT_FORM_SUBMIT_SEND_MESSAGE" . }}'/>
                </li>
            </ul>
           
        </form>
    </section>
    {{ end }}

    <section class="split contact">
        {{ with $data.contactinfo.email }}
        
            <h6><span class="underline-servicos">Serviços (agenda aberta)</span></h6>
            
            <div id="container-servicos">
                <div class="container-individual-servicos" onclick="abreSnackServicos('ilustracaoDesign')">
                    <div class="container-imagethumb-servicos">
                    <img src="http://www.tdvadilho.com/imagens/portfolio/projeto1/ImiNoCampoDeFlores-TDVadilho-thumb-LowRes-noai-noimageai.jpg" alt="Imi em Meio ao Campo de Flores. Personagem imaginário amarelo."/>
                </div>
                    <div class="nome-chamada-servicos">
                      <h1>Ilustração e Design</h1>
                      <h1>Saiba mais</h1>
                    </div>
                </div>

                <div class="container-individual-servicos" onclick="abreSnackServicos('leituraCritica')">
                    <div class="container-imagethumb-servicos">
                    <img src="/images/leitura-critica.jpg" alt="Imagem de um óculos em cima de um caderno com anotações sobre um de meus textos"/>
                </div>
                    <div class="nome-chamada-servicos">
                      <h1>Leitura Crítica</h1>
                      <h1>Saiba mais</h1>
                    </div>
                </div>

                <div class="container-individual-servicos" onclick="abreSnackServicos('criacaoDeTextos')">
                    <div class="container-imagethumb-servicos">
                    <img src="/images/criacao-de-texto.jpg" alt="Imagem dos materiais que uso para escrever meus textos - caderno, caneta, teclado e livros de inspiração" />
                </div>
                    <div class="nome-chamada-servicos">
                      <h1>Criação Textual</h1>
                      <h1>Saiba mais</h1>
                    </div>
                </div>

                <div class="container-individual-servicos" onclick="abreSnackServicos('outros')">
                    <div class="container-imagethumb-servicos">
                    <img src="/images/outros.jpg" alt="Processo de criação da arte para Os Sapos que Fingem Perfeição"/>
                </div>
                    <div class="nome-chamada-servicos">
                      <h1>Outros Projetos</h1>
                      <h1>Saiba mais</h1>
                    </div>
                </div>
            </div>
        {{ end }}

        
        <div id = "SnackbarSaibaMais">
            <span id="close" onclick="closeSnackbarSaibaMais()">x</span>
            <div id="servicos-outros-criativos">
                {{ with .Site.GetPage "servicos-outros-criativos" }}
                    <h2>Outros</h2>
                    {{ .Content }}
                {{ end }}    
            </div>
        </div>
        

        {{ with $data.contactinfo.email }}
        <section id="splitcontact">
            <h6>{{ i18n "CONTACT_EMAIL" . }}</h6>
            <a href="mailto:{{ . }}"><p>{{ . }}</p></a>
        </section>
        {{ end }}

        {{ with $data.social }}
        <section>
            <h6>{{ i18n "CONTACT_SOCIAL" . }}</h6>
            <div id="redes-sociais">
                {{ with .facebook}}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-facebook-f icon"></i></a>
                {{ end }}

                {{ with .twitter}}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-twitter icon"></i></a>
                {{ end }}

                {{ with .instagram }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-instagram icon"></i></a>
                {{ end }}

                {{ with .youtube }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-youtube-play icon"></i></a>
                {{ end }}

                {{ with .wattapad }}
                    <a href="{{ . }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="wattpad"><path d="m13.471 3.086c.371.056.764.081 1.089.286 1.682.854 1.729 3.628 1.415 5.497 1.332-1.865 4.845-5.905 7.017-5.126.462.143.879.524.963 1.014.306 1.278-.749 2.088-2.713 5.291-3.24 5.286-3.464 8.568-6.556 8.704-1.502.07-3.175-1.317-3.412-3.674-.118-.839-.125-1.69-.058-2.533-2.518 4.116-3.141 9.135-7.4 8.289-3.948-1.07-4.269-9.22-3.54-13.182.083-.663.317-1.43.714-2.249 1.059-2.049 3.513-2.062 4.559-.846 1.073 1.248.76 3.81.595 5.487 1.383-2.408 4.557-7.19 7.327-6.958z"></path></svg></i></a>
                {{ end }}              
            </div>
        </section>
        {{ end }}       
    </section>
</footer>

<style>
    a{
        border: none;
    }

    #footer form > .filds{
        width: calc(100% + 3rem);
    }
    
    #li_btn_contato {
        padding: 0;
    }

    #footer > section.split > section:first-child{
        text-justify: justify;
        word-break: break-word;
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        text-rendering: optimizeLegibility;
    }

    #footer > section.split.contact > section > :last-child:hover{
        cursor: pointer;
    }

    ul.icons li:last-child {
        padding: 0 0.5rem 0 0;
    }

    ul.icons li:first-child{
        margin-left: 7px;
    }

    #footer > section {
        padding: 3rem 0rem 3rem 3rem;
    }

    #footer > section.split{
        padding: 2.95rem 3rem 0rem 3rem;
    }

/* Serviços */
    #container-servicos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #footer h6{
        text-align: center;
    }

    .underline-servicos{
        border-bottom: 2px solid #299928;
        border-width: medium;
    }

    .container-individual-servicos {
        position: relative;
        margin: 0px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        transition: all 200ms ease-in-out;
        width: max-content;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
        border-radius: 5px 5px;
    }

    .container-individual-servicos:hover{
        cursor: pointer;
    }

    .container-imagethumb-servicos {
        height: 80px;
        width: 190px;
        overflow: hidden;
        border-radius: 5px 5px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
    }

    .container-imagethumb-servicos img {
        height: 80px;
        width: 200px;
        object-fit: cover;
        object-position: center;
        transition: all 200ms ease-in-out;
    }

    .nome-chamada-servicos{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 80px;
        width: 130px;
        left: 60px;
        transition: all 200ms ease-in-out;
        overflow: hidden;
        padding: 10px;
    }

    .nome-chamada-servicos h1 {
        position: relative;
        bottom: 0;
        height: 80px;
        font-size: 1.25rem;
        font-family: "Alegreya Sans SC";
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
        text-align: right;
        color: #ffffff !important;
    }

    .container-individual-servicos:hover img {
        transform: scale(2);
        /*object-position: bottom;*/
    }

    .container-individual-servicos:hover h1 {
        bottom: 50px;
    }

    .container-individual-servicos:hover .container-imagethumb-servicos {
        width: 250px;
    }

    /* snack serviços daqui para baixo */
    #SnackbarSaibaMais {
        display: none;
        text-align: left;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        position: fixed;
        bottom: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 100vw 100vw 100vw rgba(30, 37, 45, 0.623);
        color: #212931;
        transform: translate(-50%,0);
        left: 50%;
        z-index: 7;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    #SnackbarSaibaMais p{
        color: #101020;
        font-weight: 500;
        font-size: 15px;
        font-family: helvetica;
        line-height: normal;
        margin-bottom: 18px;
    }

    #close:hover{
        cursor: pointer;
        color: #18bfef;
    }

    #close{
        padding-top: 10px;
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
        color: #656565;
        border: none;
        font-family: helvetica;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
/* fim dos serviços */

/* Redes */
    section #redes-sociais{
        margin-left: -10px;
    }

    #redes-sociais {
        display: flex;
        justify-content: left;
    }

    #redes-sociais a {
        width: 40px;
        height: 40px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        margin: 0 0 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    }

    #redes-sociais a:hover{
        cursor: pointer;
    }

    #wattpad{
        position: relative;
        width: 18px;
        height: 18px;
        vertical-align: 0 !important;
        transition: .5s;
        z-index: 3;
        margin-right: 0 !important;
        filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(125deg) brightness(104%) contrast(103%);
    }

    #redes-sociais a .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
        vertical-align: 2px !important;
        margin-right: 0 !important;
    }

    #redes-sociais a:hover .icon,#redes-sociais a:hover #wattpad {
        display: inline-block;
        color: #fff;
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
    }

    #redes-sociais a:hover #wattpad{
        filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(173deg) brightness(102%) contrast(115%);
    }

    #redes-sociais a:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: .5s;
        z-index: 2;
    }

    #redes-sociais a:hover:before {
        top: 0;
    }

    #redes-sociais a:nth-child(1):before{
        background: #3b5999;
    }

    #redes-sociais a:nth-child(2):before{
        background: #55acee;
    }

    #redes-sociais a:nth-child(3):before{
        background: #FE0B81;
    }

    #redes-sociais a:nth-child(4):before{
        background: #C8232C;
    }

    #redes-sociais a:nth-child(5):before{
        background: #FF4500;
    }

/* fim das redes */

/* REGRAS DE MEDIA */   
    @media screen and (min-width: 981px){
        #message{
            width: 100%;
            resize: vertical;}
    }

    @media screen and (max-width: 980px){
        #footer > section.split {
            border-top: solid 2px #e2e2e2;
        }
        #footer>section {
            padding: 2rem 3rem .1rem 3rem;
        }
    }

    @media screen and (max-width: 980px) and (min-width:905px){
        #container-servicos{
            width: 60%;
            align-self: center;
       }
    }

    @media screen and (max-width: 904px) and (min-width:876px){
        #container-servicos{
            width: 90%;
            align-self: center;
       }
    }

    @media screen and (max-width: 875px) and (min-width:801px){
        #container-servicos{
            width: 70%;
            align-self: center;
       }
    }

    @media screen and (max-width: 800px) and (min-width:650px){
        #container-servicos{
            width: 80%;
            align-self: center;
       }
    }

    @media screen and (max-width: 649px) and (min-width:446px){
        #container-servicos{
            width: 60%;
            align-self: center;
       }
    }

    @media screen and (max-width: 445px){
        #container-servicos{
            width: 80%;
            align-self: center;
       }
    }

    @media screen and (max-width: 736px){
        #footer>section {
            padding: 2rem 3rem .1rem 3rem;
        }
        #footer > section.split {
            padding: 2rem 1rem 0rem;
        }
    }
</style>

<script>
/* Formulário de contato */
    document.getElementById('contato').addEventListener("submit", (e) => {
        e.preventDefault();

        document.getElementById('btn_enviar').setAttribute('disabled', 'a');
        document.getElementById('li_btn_contato').classList.add('borderAnim', 'in');
        
    
        data = Object.fromEntries(new FormData(e.target).entries());
        url = 'https://thiago.oioipio.com/contato';
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(result => {
            document.getElementById('btn_enviar').removeAttribute('disabled');
            document.getElementById('li_btn_contato').classList.remove('borderAnim', 'in');
            
            emailenviado();
        }).catch(error => {
            document.getElementById('btn_enviar').removeAttribute('disabled');
            document.getElementById('li_btn_contato').classList.remove('borderAnim', 'in');
            
            emailnaoenviado();
        })
    })

    let emailenviado = function(){
        var form = document.getElementById("Snackbar");
        
        form.className = "showSucess";

        document.getElementById('SnackbarText1').innerHTML = "Mensagem enviada"
        document.getElementById('SnackbarText2').innerHTML = "Entrarei em contato assim que possível"
        
        setTimeout(function(){ 
            form.className = form.className.replace("showSucess", "");   
            resetForm();
        }, 8000);

        window.history.pushState('', '', '#form-enviado');
    }

    let emailnaoenviado = function(){
        let emailenviado = document.getElementById('emailenviado');
        let form = document.getElementById("Snackbar");

        emailenviado.innerHTML = "Infelizmente o email não pode ser enviado. Por favor, tente novamente em alguns instantes";
        form.className = "showFail";
       
        document.getElementById('SnackbarText1').innerHTML = "Falha no servidor";
        document.getElementById('SnackbarText2').innerHTML = "Desculpe, infelizmente o email não pode ser enviado. Por favor, tente novamente em alguns instantes";
        
        setTimeout(function(){ 
            form.className = form.className.replace("showFail", "");   
        }, 8000);
    }

/* Saiba Mais - Serviços */
/* SNACKBAR FAQ */
let SnackbarSaibaMais = document.getElementById("SnackbarSaibaMais")

let abreSnackServicos = function(tipoServico){
    event.stopPropagation();
    SnackbarSaibaMais.style.display = "block";

    /* confere se pode fechar ao clicar */
    window.addEventListener('click', function(v){
        if (document.getElementById('SnackbarSaibaMais').contains(v.target)){
        } else{
            SnackbarSaibaMais.style.display = "none";
        }
    }, options = {"once": true})

    if (tipoServico === "leituraCritica"){

    }
}

let closeSnackbarSaibaMais = function(){
    SnackbarSaibaMais.style.display = "none"
}

</script>