{{- partial "htmlhead" . -}}

	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            {{- partial "header" . -}}
            {{- partial "nav" . -}}

            <!-- Main -->
            <div id="main">
                <div id="livros"> 

                    <div id="painelLivros">
                        <div class="arrow-holder">
                            <a id="carrousel-left">&#10094;</a>
                        </div>

                        <div class='image-holder'>
                            {{ range $livro := .Params.livros }}
                            <div class="imagensPainelLivros"
                                 id="painel-{{ $livro.id }}"
                                 myid="{{ $livro.id }}"
                                 titulo="{{$livro.titulo}}"
                                 descricao="{{$livro.descricao}}"
                                 numImagens="{{ len $livro.imagens }}"
                                 imagens="{{ $livro.imagens }}"
                                 linkebook="{{ $livro.linkebook }}"
                                 linkfisico="{{ $livro.linkfisico}}"
                            >
                                <a href="#">
                                    <img src="{{index $livro.imagens 0}}" class="imagemPainel">
                                </a>
                            </div>
                            {{ end }}
                        </div>

                        <div class="arrow-holder">
                            <a id="carrousel-right">&#10095;</a>
                        </div>
                    </div>

                    <div id="livroSelecionado">
                        <div id="carrosselLivroSelecionado">

                            <div id="mySlidesID">
                                <div class="mySlides fade">
                                </div>
                            </div>
                            
                            <a id="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a id="next" onclick="plusSlides(1)">&#10095;</a>

                            <div id="posicaoDots">
                                <span class="dot" onclick="currentSlide(1)"></span>
                            </div>
                        </div>

                        <div id="informacoesLivroSelecionado"> 

                            <p class="tituloLivroSelecionado" id="tituloLivroSelecionadoID"></p>      

                            <div id="caixaDescricaoLivroSelecionado">
                                <p class="descricaoLivroSelecionado" id="descricaoLivroSelecionadoID"></p>
                            </div>

                            <div id="posicaoBotoes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{- partial "copyright" . }}
            <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
        </div>
  
        {{- template "_internal/google_analytics.html" . }}
        {{- partial "scripts/index" . }}     
    </body>

<style>
/* DEFINICOES GERAIS DE ESTILO */
        a {
            border: none;
        }

        form{
            display: inline-flex;
            margin: 0;
        }

    /* Bloco dos livros gerais */       
        img {
            display: block;
        }

        #livros {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        #painelLivros {
            display: inline-flex;
            flex-direction: row; 
            justify-content: space-between;
            padding-bottom: 2%;
            width: 80%;
            margin: auto;
            overflow: auto;
        }

        .selected {
            transform: scale(1.06);
        }

        .imagemPainel {
            max-width: 130px;
        }

        .image-holder {
            display: inline-flex;
            overflow-x: auto;
            overflow-y: hidden;
            margin-right: 35px;
            margin-left: 35px;
            padding-bottom: 3%;
            padding-top: 1%;
        }

        .image-holder >div:nth-last-child(1){
            margin-right:3%;
        }

        .image-holder >div:nth-child(1){
            margin-left:3%;
        }

        .imagensPainelLivros{
            margin-right: 5%;
        }

        .arrow-holder {
            align-self: center;
        }

        #carrousel-left, #carrousel-right{
            cursor:pointer;
            font-size: 40px;
            font-weight: bold;
            color: rgba(17, 17, 17, 0.89);
            user-select: none;
        }

        .imagemPainel{
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1, 1);
            filter: blur(0);
            -webkit-filter: blur(0);
            transition: transform .2s;
        }

        .imagemPainel:hover{
            transform: perspective(300px) rotateY(1deg) translateZ(10px) scale(0.97);
            transition: transform .2s;
        }
        
    /* Bloco das informações e aquisicao do livro selecionado */
        #livroSelecionado {
            display: flex;
            flex-direction: row;
            padding: 5% 5% 0 5%;
        }

        .tituloLivroSelecionado{ 
            font-weight: bold;
            font-size: 2.2rem;
            margin: -1px;
        }

        .descricaoLivroSelecionado{
            font-size: 1.1rem;
            font-weight: 500;
        }

        .adquirirLivroSelecionado{
            font-weight: bold;
            font-size: 1.2rem;
            margin: 0;
        }

        #posicaoBotoes{
            position: absolute;
            bottom: 10%;
        }

    /* Bloco do carrossel do livro selecionado */
        *{box-sizing: border-box}

        #carrosselLivroSelecionado {
            text-align: center;
            min-width: 40%;
            position: relative;
            margin: auto;
        }

        #informacoesLivroSelecionado {
            text-align: left;
            padding-left: 3%;
            position: relative;
            word-spacing: normal;
            word-break: break-word;
        }

        #caixaDescricaoLivroSelecionado{
            margin-bottom: 1%;
            line-height: 1.8;
            word-break: break-word;
        }

        #prev, #next {
            cursor: pointer;
            position: absolute;
            margin-top: -22px;
            top: 48%;
            width: auto;
            padding: 16px;
            color: rgba(255, 255, 255, 0.87);
            opacity: 80%;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        #next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        #prev{
            left:0;
            border-radius: 0 3px 3px 0;
        }

        #prev:hover, #next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        .dot {
            cursor: pointer;
            height: 13px;
            width: 13px;
            margin: 0 4px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .activedot, .dot:hover {
            background-color: #535353;
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        #posicaoDots{
            display: inline-flex;
            flex-direction: row; 
            width: 80%;
            justify-content: center;
        }

/* DEFINICOES PARA OS TAMANHOS EM DESKTOP */
   
    /* Bloco 825 até 710 px */
        @media screen and (max-width: 865px) and (min-width: 710px){
            #livroSelecionado{
                height: 60vw;
            }
            #caixaDescricaoLivroSelecionado{
                overflow: auto;
                height: 49%;
                padding-right: 10px; 
                padding-bottom: 2%;
            }
            #posicaoBotoes{
                position: absolute;
                transform: scale(0.95);
                margin-left: -1.2%;
                bottom: 10%;
            }
        }

    /* Bloco 709 até 641 px */
        @media screen and (max-width: 709px) and (min-width: 641px){
            #livroSelecionado{
                height: 60vw;
            }
            #carrosselLivroSelecionado{
                margin-top: 0;
            }
            .tituloLivroSelecionado{
                transform: scale(0.9);
                margin-left: -5%;
            }
            #informacoesLivroSelecionado{
                height: 90%;
            }
            #caixaDescricaoLivroSelecionado{
                overflow: auto;
                height: 24vw;
                padding-right: 10px;
                margin-bottom: 10%;
            }
            #posicaoBotoes{
                position: absolute;
                transform: scale(0.9);
                bottom: 1%;
                margin-left: -3.2%;
            }
        }
    
    /* Bloco a partir de 640 px */
        @media screen and (max-width: 640px) {
            #livroSelecionado { 
                flex-direction: column;
                padding: 5% 5% 2% 5%;
            }
            #carrosselLivroSelecionado {
                width: 100%;
            }
            #informacoesLivroSelecionado {
                padding-left: 0;
                margin-top: 5%;
                margin-bottom: -5%;
            }
            #posicaoBotoes {
                position:relative;
                padding-top: 10%;
            }
        }
               
/* DEFINICOES PARA OS TAMANHOS DE DEVICE MOBILE */
    /* Definicoes para celular */
    @media only screen and (hover:none) and (pointer:coarse) and (max-width:450px) and (min-width:321px){
        #painelLivros {
            padding-top: 4%;
            padding-bottom: 2%;
            width: 90%;
            }
        .imagensPainelLivros{
            transform: scale(0.8);
            margin-bottom: -8%;
        }
        .selected {
            transform: scale(0.85);
        }
        #informacoesLivroSelecionado {
            margin-bottom: -5%;
        }
        #posicaoBotoes {
            padding-top: 14%;
        }
    }

    @media only screen and (hover:none) and (pointer:coarse) and (max-width:321px){
        #painelLivros {
            padding-top: 4%;
            padding-bottom: 2%;
            width: 85%;
            }
        .imagensPainelLivros{
            transform: scale(0.8);
            margin-bottom: -10%;
        }
        .selected {
            transform: scale(0.85);
        }
        #informacoesLivroSelecionado {
            margin-bottom: -5%;
        }
        #posicaoBotoes {
            padding-top: 18%;
        }
    }

    /* Definicoes para retirar o clique de hover eterno dos mobiles */    
    @media only screen and (hover:none) and (pointer:coarse){       
        /*Fazer os botões voltarem ao normal*/        
            #prev:hover, #next:hover{
                color: rgba(255, 255, 255, 0.87) !important;
                opacity: 80%;
                background-color: rgba(255, 0, 0, 0);
            }
            #prev:active, #next:active{
                color:#18bfef !important;
            }
            #carrousel-left:hover, #carrousel-right:hover{
                color: rgba(17, 17, 17, 0.89) !important;
            }
            #carrousel-left:active, #carrousel-right:active{
                color:#18bfef !important;
            }
    }

</style>


<!-- JAVASCRIPT -->
<script type="text/javascript">
    // CARROSSEL TODOS OS LIVROS
    // Vai chamar carousel sim
    let currentFocus = 0
    let images = document.getElementsByClassName('imagensPainelLivros')

    let setupCarousel = function() {
        for(let image of images) {
            image.addEventListener("click", (el) => {
                el.preventDefault()
                el.currentTarget.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' })

                images[currentFocus].classList.remove('selected')

                currentFocus = parseInt(el.currentTarget.getAttribute('myid'))
                
                el.currentTarget.classList.add('selected')

                document.getElementById('posicaoDots').innerHTML = ''
                document.getElementById('tituloLivroSelecionadoID').innerHTML = '' 
                document.getElementById('descricaoLivroSelecionadoID').innerHTML = ''
                document.getElementById('mySlidesID').innerHTML = ''
                document.getElementById('posicaoBotoes').innerHTML = ''

                // /* atualizar titulo e descricao */
                document.getElementById('tituloLivroSelecionadoID').innerHTML = el.currentTarget.getAttribute('titulo')
                document.getElementById('descricaoLivroSelecionadoID').innerHTML = el.currentTarget.getAttribute('descricao')

                // atualizar os links dos botoes
                let linkebook = el.currentTarget.getAttribute('linkebook')
                let linkfisico = el.currentTarget.getAttribute('linkfisico')

                document.getElementById('posicaoBotoes').innerHTML = ('<p class="adquirirLivroSelecionado">Adquirir livro</p> <form action="' + linkebook + '"><button type="submit">Ebook</button></form> <form action="' + linkfisico + '"><button type="submit">Físico</button></form>')

                // /* atualizar o slide do livro selecionado */
                let numDots = (el.currentTarget.getAttribute('numImagens') - 1)
                let currentFocusImagens = el.currentTarget.getAttribute('imagens')
                let nomesImagens = currentFocusImagens.replace("[", "").replace("]", "").split(' ')
                
                for(let num=0; num <= numDots; num++) {
                    document.getElementById('mySlidesID').innerHTML += ('<div class="mySlides fade"> <img src="' + nomesImagens[num] + '"> </div>')
                    document.getElementById('posicaoDots').innerHTML += ('<span class="dot" onclick="currentSlide(' + (num + 1) + ')"></span>')
                }
                currentSlide(1)
            })
        }     
    }

        document.getElementById('carrousel-left').addEventListener("click", () => {
            images[currentFocus].classList.remove('selected')

            currentFocus = currentFocus > 0 ? currentFocus - 1 : images.length - 1
            
            images[currentFocus].scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' })
            images[currentFocus].classList.add('selected')
         })

        document.getElementById('carrousel-right').addEventListener("click", () => {
            images[currentFocus].classList.remove('selected')

            currentFocus = currentFocus < images.length - 1 ? currentFocus + 1 : 0
            
            images[currentFocus].scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' })
            images[currentFocus].classList.add('selected')
         })
    

    // PEGA INFORMACOES DO LIVRO SELECIONADO
    

    //SLIDES LIVRO SELECIONADO
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" activedot", ""); 
        }
        
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " activedot";
        
    }

    //SWIPE LEFT OR RIGHT
    let touchsurface = document.getElementById('carrosselLivroSelecionado'),
        startX, 
        startY,
        dist,
        distThreshold,
        thresholdX = 50,
        thresholdY = 50,
        allowedTime = 1500,
        elapsedTime,
        startTime

    let setupSlider = function() {
        touchsurface.addEventListener ('touchstart', function(e) {
            let touchobj = e.changedTouches[0]
            
            dist = 0
            distThreshold = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() 
        }, false)

        touchsurface.addEventListener('touchend', function(e) {
            var touchobj = e.changedTouches[0]
            dist = touchobj.pageX - startX
            distThreshold = Math.abs(dist)
            elapsedTime = new Date().getTime() - startTime
           
            console.log('dist ' + dist + ' threshold X ' + thresholdX)
            console.log('abs y ' + Math.abs(touchobj.pageY - startY) + ' thrs Y ' + thresholdY)
            console.log('elapsedTime ' + elapsedTime + ' allowed ' + allowedTime)

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist > 0
            ){
                document.getElementById('prev').click()
            }

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist < 0)
            {                                         
                document.getElementById('next').click()
            }
        }, false)
    }
    
    document.addEventListener("DOMContentLoaded", (event) => { 
        setupCarousel()
        setupSlider()

        images[0].click()
    });
</script>
