<link rel="stylesheet" type="text/css" href="/assets/css/geral.css"> <!-- Chamando CSS geral -->
<link rel="stylesheet" type="text/css" href="/assets/css/postssection.css"> <!-- Chamando CSS geral -->

{{- partial "htmlhead" . -}}
{{- partial "navigationlinks" . -}}<!-- puxando os menus -->

{{ $postsPerPage := 6}}
{{ $posts_historietas := .Pages.ByDate.Reverse }}
{{ $postsPaging := .Paginate $posts_historietas $postsPerPage }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    <div id="main">
        {{- partial "pageHeaderMenuAndLogo" . -}}
        <div id="container-historietasHeader">
            <div class="container-header-name" id="historietas-header-name">
                <img src="/images/menu/historietas-header.png" alt="Historietas" class="img-page-header">
            </div>
            <div class="container-header-text">
                <p><i>Escrevo e ilustro porque pouquíssimas coisas na vida me fazem sentir tão vivo quanto escrever e ilustrar. No final das contas, acho que só quero ser criativo, e criar histórias para compartilhar</i></p>
            </div>
        </div>

        <div id="container-post-all-after-header">
            <div id="container-postagens">
                {{ partial "posts_historietas/list.html" (dict "posts" $postsPaging "siteData" (index .Site.Data .Site.Language.Lang)) }}
            </div>

            <div id="container-paginator">
                {{- $paginator := .Paginator }}
                {{- $outer := . }}
                {{- partial "pagination.html" (dict "paginator" $paginator "outer" $outer)}}
            </div>
        </div>
        {{- partial "emailing" . -}}
        {{- partial "rodape.html" . }}
    </div>   
    {{- template "_internal/google_analytics.html" . }}
    {{- partial "scripts/index" . }}
    {{- partial "meusscripts" . -}}
</body>