<!DOCTYPE HTML>
<html lang='{{ .Site.LanguageCode | default "pt-br" }}'>
	<head>
        <!---------------------------  METATAGS ---------------------------->
        <meta charset="utf-8" />

        <meta name="robots" content="noimageai"> <!-- implementado do https://www.deviantart.com/team/journal/Tell-AI-Datasets-If-They-Can-t-Use-Your-Content-934500371 -->
        <meta name="robots" content="noai">

        <title>
            {{- if .IsHome -}}
                {{ .Site.Title }} | Escritor e Ilustrador
            {{- else if .Page.Title -}}
                {{ .Page.Title }} | {{ .Site.Title }}
            {{- else -}}
                {{ .Site.Title }}
            {{- end -}}
        </title>

        {{- if .IsHome -}}
            <meta name="description" content="{{ site.Params.Description }}" />
        {{- else -}}
            <meta name="description" content="{{ .Params.Description }}" />
        {{- end }}

        <link rel="canonical" href="{{ .Permalink }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{- if .IsHome -}}
            <meta name="og:title" content="{{ site.Title }}" />
            <meta property="og:type" content="website" />
            <meta property="og:description" content="{{ site.Params.Description }}" />
            <meta property="og:url" content="{{ site.BaseURL }}" />
            <meta name="og:image" content="{{ site.Params.Image }}" />
            <meta name="author" content="TD Vadilho">
        {{- else -}}
            <meta name="og:title" content="{{ .Params.Title }}" />
            <meta property="og:type" content="{{ .Params.ogtype }}" />
            <meta property="og:description" content="{{ .Params.Description }}" />
            <meta property="og:url" content="{{ .Page.Permalink }}" />
            <meta name="og:image" content="{{ .Params.Imagethumb }}" />
            <meta name="author" content="TD Vadilho">
        {{- end -}} 

        <!--------------------------- CSS setado pelo tema (não mexer) ---------------------------->
		{{ if .Site.IsServer }}
		    {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "enableSourceMap" true) }}
		    <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
		{{ else }}
		    {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS (dict "targetPath" "assets/css/main.css" "enableSourceMap" false) }}
		    <link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}"/>
		{{ end }}
        
        <link rel="icon" href='https://beta.tdvadilho.com/images/favicon.png'>
		{{ $noscript := resources.Get "scss/noscript.scss" | resources.ExecuteAsTemplate "noscript.scss" . | toCSS (dict "targetPath" "assets/css/noscript.css" "enableSourceMap" false) }}
		<noscript><link rel="stylesheet" href='{{ $noscript.RelPermalink }}' /></noscript>

        <!--------------------------- Google analytics ---------------------------->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JFYQ7F7NQC"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-JFYQ7F7NQC');
        </script>
        
        <!--------------------------- Pinterest ---------------------------->
        <meta name="p:domain_verify" content="216b3e2d7c75ea573b2d8477c69a4a86"/>

        <!--------------------------- Font Awesome 6 ---------------------------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

        <!-- Font Lora -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	
        <!-- Font Sanchez -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    </head>
</html>
