<script>

/* ----------------GO TO COMMENTS FROM POSTS CARD---------------- */
let flagCameFromCard = false;
let goToCommentsFromCard = function(event,link){
    event.cancelBubble = true;
    if(event.stopPropagation) event.stopPropagation();

    flagCameFromCard = true;
    window.open(link);
}


/* ----------------NAVIGATION---------------- */
let flagnavigationisopen = false;
let opennavigationmenu = function(){
    document.getElementById("nav").style.display = "block";
    document.body.style.overflow = 'hidden';
    flagnavigationisopen = true;
}


/* ----------------CLOSE THINGS---------------- */
//close things with X
let closethis = function(what){
    if(what === 'navigationmenu'){
        document.getElementById("nav").style.display = "none";
        flagnavigationisopen = false;
        document.body.style.overflow = 'auto';
    }
}

//close things with ESC
let flagProjAberto = false;
document.addEventListener('keydown', (ev) => {
    if((ev.key == 'Escape') && (flagnavigationisopen == true)){
        closethis('navigationmenu');
    }
    if(flagProjAberto == true){
        if(ev.key == 'Escape'){
            closeSnackbarProj();
        }
        if(ev.keyCode == '39'){ //Projetos abertos na galeria tem esses adicionais para poder movimentar com a setinha
            changeSlideProj(1);
        }
        if(ev.keyCode == '37'){
            changeSlideProj(-1);
        }
    }
})


/* ----------------SLIDESHOW---------------- */
let slideIndex = 1; //inicializando slide
function plusSlides(n) { //prev and next click
    showSlides(slideIndex += n);
}

function currentSlide(n) { //slide que está mostrando na tela
    showSlides(slideIndex = n);
}

function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("slider-gallery");
    let squaresnavigation = document.getElementsByClassName("square-navigation-slider");
    if (n > slides.length) {
        slideIndex = 1
    }
    if (n < 1) {
        slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < squaresnavigation.length; i++) {
        squaresnavigation[i].className = squaresnavigation[i].className.replace(" activeslide", "");
    }
    slides[slideIndex-1].style.display = "block";
    squaresnavigation[slideIndex-1].className += " activeslide";
}
    //SWIPE LEFT OR RIGHT
    let touchsurface = document.getElementById('slider-container'),
        startX, 
        startY,
        dist,
        distThreshold,
        thresholdX = 50,
        thresholdY = 50,
        allowedTime = 1500,
        elapsedTime,
        startTime

    let setupSliderforswipe = function() {
        touchsurface.addEventListener('touchstart', function(touch) {
            let touchobj = touch.changedTouches[0]
            
            dist = 0
            distThreshold = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() 
        }, false)

        touchsurface.addEventListener('touchend', function(touch) {
            var touchobj = touch.changedTouches[0]
            dist = touchobj.pageX - startX
            distThreshold = Math.abs(dist)
            elapsedTime = new Date().getTime() - startTime

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist > 0 &&
                flagMateriaisAberto == false
            ){
                document.getElementById('prevSlide').click()
            }

            if (
                elapsedTime <= allowedTime &&
                distThreshold >= thresholdX &&
                Math.abs(touchobj.pageY - startY) <= thresholdY &&
                dist < 0 &&
                flagMateriaisAberto == false
            ){                                         
                document.getElementById('nextSlide').click()
            }
        }, false)
    }


/* ----------------REALIGN VERTICAL---------------- */
    let realignVertical = function(projetoaberto){
        // setTimeout(() => {
        let snackbarChildrenSize = 0;
        let snackElement = document.getElementById(projetoaberto);
        console.log(snackElement);
        let snackbarChildrenNumber = snackElement.children.length;
                
        for(let i = 0; i < snackbarChildrenNumber; i++){
            console.log(snackElement.children[i].height);
            snackbarChildrenSize += snackElement.children[i].height;
        }

        if(snackbarChildrenSize < (snackElement.offsetHeight)){
            snackElement.classList.add("realignClass");
        } else{
            snackElement.classList.remove("realignClass");
        }
        // }, 2000);
    }


/* ----------------PIN MATERIAIS LINKS AFILIADOS---------------- */
let flagMateriaisAberto = false;
    
    let expandirmateriais = function(e){
        e.stopPropagation();
        let listademateriais = document.getElementsByClassName('listaMateriais')[0];
        listademateriais.style.display = "inline-grid";
        
        flagMateriaisAberto = true;

        let botaomateriais = document.getElementsByClassName('pinMateriaisUsados');
        botaomateriais[0].style.display = "none";

        let buttonCloseMateriais = document.getElementsByClassName('toCloseMateriais')[0];
        buttonCloseMateriais.style.display = "block";

        window.addEventListener('click', function(g){
            if(!listademateriais.contains(g.target)){
                fecharmateriais();
            }
        }, options = {"once": true})
    }

    document.addEventListener('keydown', (ev) => {
        if(flagMateriaisAberto==true){
            if(ev.key == 'Escape'){/* para ler quando preciona o esc*/
                fecharmateriais();
            }
        }
    }) 

    function fecharmateriais(){
        let buttonCloseMateriais = document.getElementsByClassName('toCloseMateriais')[0];
        buttonCloseMateriais.style.display = "none";

        if(window.innerWidth < 980){
            navPanelToggle.style.cssText = ''
        }

        let listademateriais = document.getElementsByClassName('listaMateriais');
        listademateriais[0].style.display = "none";

        let botaomateriais = document.getElementsByClassName('pinMateriaisUsados');
        botaomateriais[0].style.display = "inline-flex";

        flagMateriaisAberto = false;
        isMouseoverMateriais = true;
    }


/* ----------------ANIMAÇÃO DE CARREGAMENTO ILUSTRAÇÕES---------------- */
/*Interactivity to determine when an animated element in in view. In view elements trigger our animation*/
$(document).ready(function() {

//window and animation items
var animation_elements = $.find('.animation-element');
var web_window = $(window);

//check to see if any animation containers are currently in view
function check_if_in_view() {
  //get current window information
  var window_height = web_window.height();
  var window_top_position = web_window.scrollTop();
  var window_bottom_position = (window_top_position + window_height);

  //iterate through elements to see if its in view
  $.each(animation_elements, function() {

    //get the element sinformation
    var element = $(this);
    var element_height = $(element).outerHeight();
    var element_top_position = $(element).offset().top;
    var element_bottom_position = (element_top_position + element_height);

    //check to see if this current container is visible (its viewable if it exists between the viewable space of the viewport)
    if ((element_bottom_position >= window_top_position) && (element_top_position <= window_bottom_position)) {
      element.addClass('in-view');
    } else {
      element.removeClass('in-view');
    }
  });

}

//on or scroll, detect elements in view
$(window).on('scroll resize', function() {
    check_if_in_view()
  })
  //trigger our scroll event on initial load
$(window).trigger('scroll');

});


/*---------------- Copiar URL ----------------*/
let urlCurrentPage = window.location.href;

let copiarUrlSharing = function() {
    let createCopiarNotification = function() {
        let notification = document.getElementById("urlCopiarNotification");
        notification.style.opacity = 1;
        notification.innerHTML = '<i class="fa fa-link"></i> URL copiada. Agora é só colar :)</div>';
        
        setTimeout(() => {
            notification.style.opacity = 0;
        }, 4000);
    }

    if(navigator.clipboard) {
        navigator.clipboard.writeText(window.location.href);
        createCopiarNotification();
    }
    createCopiarNotification();
}


/*-----------------GO TO COMENTARIOS------------------*/
let goToComentarios = function(){
    let comentariosYPosition = document.getElementById("comentarioshist-container").offsetTop
    window.scrollTo({left: 0, top: comentariosYPosition, behavior: "smooth"})
}


/* ----------------TURN PAGE HISTORIETAS---------------- */
let turnpage = function (id){
    document.getElementById(id).children[0].classList.toggle("flipcapa");
    document.getElementById(id).children[1].classList.toggle("flipcontracapa");
}


/* ----------------DOM CONTENT LOADED---------------- */
document.addEventListener("DOMContentLoaded", (event) => {

    let regularSlideGallery = document.getElementsByClassName("slider-gallery");
    if (regularSlideGallery.length > 0){ //checando se existe regular slide para chamar (regular slide é todo slide com exceção do slide da página de ilustração)
        setupSliderforswipe();
        showSlides(slideIndex);
    }  
});
</script>
    
    