<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}
<nav id="nav">
    <ul class="links">
        <li class="{{ if eq ($currentPage.RelPermalink) (`/`) }}active{{end}}"><a href='{{ "/" | relLangURL }}'>Home</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/historietas/`) }}active{{end}}"><a href='{{ "/historietas" | relLangURL }}'>Historietas</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/livros/`) }}active{{end}}"><a href='{{ "/livros" | relLangURL }}'>Livros</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/portfolio/`) }}active{{end}}"><a href='{{ "/portfolio" | relLangURL }}'>Portfólio</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/blog/`) }}active{{end}}"><a href='{{ "/blog" | relLangURL }}'>Blog</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/sobre/`) }}active{{end}}"><a href='{{ "/sobre" | relLangURL }}'>Sobre</a></li>
        

        {{ with $data.contactinfo }}
            <li><a href='{{ "#contatar" | relLangURL }}'>{{ i18n "NAV_CONTACT" . }}</a></li>
        {{ end }}

        <li class="{{ if eq ($currentPage.RelPermalink) (`/loja/`) }}active{{end}}"><a href='https://umapenca.com/tdvadilho/' target="_blank">Loja</a></li>
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
       
        {{ end }}
        {{ end }}
    </ul>

    <spam id="socialicons_hide">
        {{ with $data.social }}
            <ul class="icons">
                {{ with .instagram}}
                    <li><a href="{{ . }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                {{ end }}

                {{ with .twitter}}
                    <li><a href="{{ . }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                {{ end }}  
                
                {{ with .youtube }}
                    <li><a href="{{ . }}" class="icon fa-youtube-play" target="_blank"><span class="label">Youtube</span></a></li>
                {{ end }}
            </ul>    
        {{ end }}
    </spam>
</nav>

<style>
    @media screen and (max-width:1150px) and (min-width:982px){
        #socialicons_hide{
            display: none;
        }
    }
</style>