<link rel="stylesheet" type="text/css" href="/assets/css/geral.css"> <!-- Chamando CSS Nav -->

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}

<nav id="nav">
    <div class="closethings" onclick="closethis('navigationmenu')">
        <i class="fa-solid fa-x"></i>
    </div>

    <ul class="links">
        <li class="{{ if eq ($currentPage.RelPermalink) (`/`) }}active{{end}}"><a href='{{ "/" | relLangURL }}'>Home</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/historietas/`) }}active{{end}}"><a href='{{ "/historietas" | relLangURL }}'>Historietas</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/livros/`) }}active{{end}}"><a href='{{ "/livros" | relLangURL }}'>Livros</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/galeriailustracoes/`) }}active{{end}}"><a href='{{ "/galeriailustracoes" | relLangURL }}'>Galeria Ilustrações</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/blog/`) }}active{{end}}"><a href='{{ "/blog" | relLangURL }}'>Blog</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/sobre/`) }}active{{end}}"><a href='{{ "/sobre" | relLangURL }}'>Sobre</a></li>
        <li class="{{ if eq ($currentPage.RelPermalink) (`/contato/`) }}active{{end}}"><a href='{{ "/contato" | relLangURL }}'>Contato</a></li>
    </ul>
</nav>