{{ $data := index .Site.Data .Site.Language.Lang }}
<div id="container-rodape">
    <div id="borda"></div>

    {{ with $data.social }}
        <section>
            <div id="redes-sociais">
                {{ with .newsletter}}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-envelope icon" aria-hidden="true"></i></a>
                {{ end }}

                {{ with .facebook}}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-facebook-f icon"></i></a>
                {{ end }}

                {{ with .twitter}}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-twitter icon"></i></a>
                {{ end }}

                {{ with .instagram }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-instagram icon"></i></a>
                {{ end }}

                {{ with .youtube }}
                    <a href="{{ . }}" target="_blank"><i class="fa fa-youtube-play icon"></i></a>
                {{ end }}

                {{ with .wattapad }}
                    <a href="{{ . }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="wattpad"><path d="m13.471 3.086c.371.056.764.081 1.089.286 1.682.854 1.729 3.628 1.415 5.497 1.332-1.865 4.845-5.905 7.017-5.126.462.143.879.524.963 1.014.306 1.278-.749 2.088-2.713 5.291-3.24 5.286-3.464 8.568-6.556 8.704-1.502.07-3.175-1.317-3.412-3.674-.118-.839-.125-1.69-.058-2.533-2.518 4.116-3.141 9.135-7.4 8.289-3.948-1.07-4.269-9.22-3.54-13.182.083-.663.317-1.43.714-2.249 1.059-2.049 3.513-2.062 4.559-.846 1.073 1.248.76 3.81.595 5.487 1.383-2.408 4.557-7.19 7.327-6.958z"></path></svg></i></a>
                {{ end }}
            </div>
        </section>
    {{ end }} 
    <p class="copyrightIntern">© Todas as imagens, textos, arquivos e direitos autorais de conteúdo Thiago David Vadilho (TD Vadilho)</p>
</div>

<style>
    #container-rodape>section{
        text-align: center;
    }

    #container-rodape{
        padding-top: 0px;
    }

    #borda{
        border-bottom: 2px solid #b6b6b6;
        border-width: thin;
        margin-bottom: 50px;
        margin-top: 80px;
    }

/* Redes */
    #redes-sociais {
        display: flex;
        justify-content: center;
        margin-bottom: 20px !important;
    }

    #redes-sociais a {
        width: 40px;
        height: 40px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        margin: 0 0 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    }

    #redes-sociais a:hover{
        cursor: pointer;
    }

    #wattpad{
        position: relative;
        width: 18px;
        height: 18px;
        vertical-align: 0 !important;
        transition: .5s;
        z-index: 3;
        margin-right: 0 !important;
        filter: invert(15%) sepia(8%) saturate(0%) hue-rotate(125deg) brightness(104%) contrast(103%);
    }

    #redes-sociais a .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
        vertical-align: 2px !important;
        margin-right: 0 !important;
    }

    #redes-sociais a:hover .icon,#redes-sociais a:hover #wattpad {
        display: inline-block;
        color: #fff;
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
    }

    #redes-sociais a:hover #wattpad{
        filter: invert(100%) sepia(2%) saturate(7500%) hue-rotate(173deg) brightness(102%) contrast(115%);
    }

    #redes-sociais a:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: .5s;
        z-index: 2;
    }

    #redes-sociais a:hover:before {
        top: 0;
    }

    #redes-sociais a:nth-child(1):before{
        background: #181818;
    }

    #redes-sociais a:nth-child(2):before{
        background: #3b5999;
    }

    #redes-sociais a:nth-child(3):before{
        background: #55acee;
    }

    #redes-sociais a:nth-child(4):before{
        background: #FE0B81;
    }

    #redes-sociais a:nth-child(5):before{
        background: #C8232C;
    }

    #redes-sociais a:nth-child(6):before{
        background: #FF4500;
    }
</style>