{{ $data := index .Site.Data .Site.Language.Lang }}

<div id="container-modos-de-apoiar">
    <div class="container-apoio">
        <h3>Diretamente</h3>
        <p>Doe por PIX ou cheque os produtos do meu trabalho. Todas as compras e doações fazem uma enorme diferença!</p>

        <div id="container-contribuicaodireta-buttons">
            <div class="button-contribuicao-direta">
                <a href="https://nubank.com.br/pagar/11jeh7/8ABRsdHuzw" class="button_contribuicaopix-container" target="_blank">
                    <img src="/images/icon_pix.svg" class="icon-pix" alt="logo do pix">
                    <span class="button-contribuicaodiretra-text"> DOAR</span>
                </a> 
            </div>

            <div class="button-contribuicao-direta">
                <a href="https://amzn.to/49s0IwN" class="button_meuslivros-container" target="_blank">
                    <span class="fa fa-book" aria-hidden="true"></span>
                    <span class="button-contribuicaodiretra-text"> LIVROS</span>
                </a>
            </div>

            <div class="button-contribuicao-direta">
                <a href="https://umapenca.com/tdvadilho/" class="button_lojaartes-container" target="_blank">
                    <span class="fa fa-paint-brush" aria-hidden="true"></span>
                    <span class="button-contribuicaodiretra-text"> ARTES</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-apoio">
        <h3>Indiretamente</h3>
        <p>Comprar qualquer produto pelos links afiliados geram renda ao projeto sem qualquer custo adicional para você</p>
        <div id="container-contribuicaoindireta-buttons">
            <div class="button-linkafiliado">
                <a href="https://www.amazon.com.br?&linkCode=ll2&tag=tdvadilho05-20&linkId=323ea7ef1891ccb812a77da02ad83348&language=pt_BR&ref_=as_li_ss_tl" target="_blank">
                    <span class="fa fa-bookmark" aria-hidden="true"></span>
                    <span class="button-linkafiliado-text"> AMAZON</span>
                </a>
            </div>
            <div class="button-linkafiliado">
                <a href="https://www.magazinevoce.com.br/magazinetdvadilho/" target="_blank">
                    <span class="fa fa-bookmark" aria-hidden="true"></span>
                    <span class="button-linkafiliado-text"> MAGAZINE LUIZA</span>
                    
                </a>
            </div>
            
        </div>
    </div>

    <div class="container-apoio">
        <h3>Sem custo</h3>
        <p>Compartilhar essa postagem nas suas redes sociais me ajuda a apresentar o meu trabalho para mais pessoas</p>

        <div id="compartilharBlogPost">
            <span onclick="copiarUrlSharing()"><i class="fa fa-link icon"></i></span>
            <span onclick="fbSharing()"><i class="fa fa-facebook-f icon"></i></span>
            <span onclick="ttSharing()"><i class="fa fa-twitter icon"></i></span>
            <span onclick="instagramSharing()"><i class="fa fa-instagram icon"></i></span>
            <span onclick="wppSharing()"><i class="fa fa-whatsapp icon"></i></span>       
            <span onclick="redditSharing()"><i class="fa fa-reddit-alien icon"></i></span>
            <span onclick="linkedinSharing()"><i class="fa fa-linkedin icon"></i></span>
        </div>
    </div>                            
</div>

