<div id = "SnackbarEmBreve">
    <a id="closeBreve" onclick="closeSnackbarEmBreve()">x</a>
    <p>A área dos livros autorais será liberada em breve.</p>
    <p>Caso queira ser notificado no momento da abertura, por favor
        considere se inscrever na <a href='{{ "#newsletterFocus" | relLangURL }}' style='text-decoration: revert;'>Newsletter</a> do site.</p>
    <p> Obrigado pelo interesse!</p> 
</div>

<style>
    #SnackbarEmBreve {
        visibility: hidden;
        text-align: left;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 2px;
        position: fixed;
        bottom: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 100vw 100vw 100vw rgba(30, 37, 45, 0.623);
        color: #212931;
        left: 6%;
        right: 6%;
        z-index: 99999;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    #SnackbarEmBreve p{
        color: #101020;
        font-weight: 500;
        font-size: 15px;
        font-family: helvetica;
        line-height: normal;
        margin-bottom: 18px;
    }

    #SnackbarEmBreve a{
        border: none;
    }

    #closeBreve:hover{
        cursor: pointer;
    }

    #closeBreve{
        padding-top: 10px;
        background-color: transparent;
        font-size: 20px;
        font-weight: 600;
        line-height: 0;
        color: #656565;
        border: none;
        font-family: helvetica;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
</style>

<script>

/* TEMPORARIO */
    let openLivroEmBreve= function(c){
        c.stopPropagation()

        SnackbarEmBreve.style.visibility = "visible"
        setTimeout(function(){ 
            SnackbarEmBreve.style.visibility = "hidden"; 
        }, 15000);

        window.addEventListener('click', function(n){
            console.log('entrou event list')
            if (document.getElementById('SnackbarEmBreve').contains(n.target)){
            } else{
                SnackbarEmBreve.style.visibility = "hidden"
            }
        }, options = {"once": true})
    }

    let closeSnackbarEmBreve = function(){
        SnackbarEmBreve.style.visibility = "hidden"
    }
</script>