<!-- Featured Post -->
{{ $data := .siteData }}

<body lang='{{ .Site.LanguageCode | default "en-us" }}' class="is-preload">
    {{ range .lastpost }}
        <article  class="post featured">
            <div class="major">
                <div class="container_imageBlogThumb img_shadow">
                    {{ if .Params.Imagethumb }}
                        <a href="{{ .Permalink }}" class="image main blog"><img src="{{ .Params.Imagethumb| relURL }}" alt="" /></a>
                    {{ end }}
                </div>

                <div class="container_textosBlogThumb">
                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>  

                    <h3> {{ .Params.Subtitle }} </h3> 

                    <p class="txt_informaçõesPost">
                        <span class="icon alt fa-calendar-o"> {{ .Params.Datapost }} </span> 
                        <span class="icon alt fa-clock-o"> {{ .Params.Tempoleitura }} </span>
                    </p>
                    
                    <p class="p_descriptionBlog"> {{ .Description }} </p> 

                    <a href="{{ .Permalink }}"><p class="goto_wordlink"> Ir para a postagem &#10095;</p></a>
                </div>
                {{ partial "taxonomy/category" . }}
            </div>
        </article>
    {{ end }}
</body>

<style>
    a{
        border: none;
    }

    .major{
        display: inline-block;
    }
    
    .container_imageBlogThumb{
        max-width: 33%;
        margin-right: 2%;
        float: left;
    }

    .post{
        display: inline-flex;
        flex-direction: column;
        align-items: baseline;
    }

    .image.main{
        margin-bottom: 0px;
    }

    h2, h3, p {
        text-align: left;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .container_textosBlogThumb{
        float: left;
        width: 65%
    }

    .p_descriptionBlog{
        margin-bottom: 15px;
        margin-top: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .goto_wordlink{
        text-align: right;
        text-decoration: underline;
    }

    .goto_wordlink:hover{
        color: #18bfef;
    }

    @media screen and (max-width: 377px){
        #main > h2{
            font-size: 2.2rem;
        }
    }
</style>