<div id="pagLivrosEmBreve">
    <h3>Que bom saber que tem interesse por mais livros meus 🥰</h3>
    <p>No momento estou trabalhando em outras histórias e, infelizmente, ainda não tenho previsão para acabar. Porém, nesse meio tempo,
        você pode ler os contos que estão disponíveis na página <a href="https://www.tdvadilho.com/historietas" targert="_blank">historietas</a>.
         Lá eu disponibilizo histórias mais curtas porém repletas de dedicação e carinho na criação!</p>
    <br>
    <p>Ah sim, antes que eu me esqueça, considere se inscrever na minha Newsletter ou seguir o meu perfil na rede social que mais
        gosta de usar. Os botões estão logo a baixo, no rodapé.
    </p>
    <br>
    <h4> Um grande abraço e tenha um ótimo dia!</h4>
</div>

<style>
    #pagLivrosEmBreve{
        width: 80%;
        margin-left: 10%;
    }

    #pagLivrosEmBreve>h3{
        margin-bottom: 30px;
    }
</style>